[2020-03-02 21:30] chrisguindon opened #1 "Define website look and feel (imagery)"
The initial website will have 2 pages, the homepage and a FAQ page.

## Homepage content/section:
- Jumbotron
- News and Events
- Mission Statement
- Our Founding Members
- Testimonials
- FAQ teaser
- Featured footer for promoting mailing list.

## Typography
- @font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

## Color pallette:
- @brand-primary: #396894; // Bl

[2020-03-02 21:36] chrisguindon opened #2 "Embed blog posts from planeteclipse.org"
We should investigate how we can embed blogs posts from planeteclipse.org on this website.

Requirements:

- Must only include posts that are relevant to ECD Tools Working group. I am thinking we need a way to create a new RSS feed from planeteclipse.org and categorize authors.

- I am thinking that we will want to create a simple js script that will fetch the rss feed for ECD Tools blogs post and

[2020-03-02 21:40] chrisguindon opened #3 "Create initial content for the website"
I will get the ball rolling by creating a google doc with empty sections.

The expectation is to allow the community to fill the blank and write some of the content for the site!

[2020-03-04 12:50] chrisguindon commented on #2
With the help of @autumnfound, we now have a plan:

- planeteclipse.org will produce an atom feed with posts that are tagged "ECDTools" or "ecdtools":
https://github.com/EclipseFdn/planeteclipse.org/pull/22

- We will embed the last x blogs post the website via Javascript. We plan on merging this functionality in our base hugo theme which in return will allow us to do this for all our Hugo WG site

[2020-03-04 12:59] chrisguindon commented on #2
I expect all of this to be ready for launch!

@ChristieWittEclipse, we might need your help on how we should display this information on our front page.

An example of what the might be:

<img width="506" alt="Screen Shot 2020-03-04 at 8 00 33 AM" src="https://user-images.githubusercontent.com/893942/75881923-17bbba80-5dee-11ea-8595-ec47e67e514a.png">

[2020-03-04 14:02] chrisguindon commented on #1
@ChristieWittEclipse, as mention on Embed blog posts from planeteclipse.org #2, we will need to also consider how the blog feed will look like on the website!

[2020-03-04 14:03] chrisguindon opened #4 "Setup Google Analytics for ecdtools.eclipse.org"
This issue is self-explanatory.

[2020-03-04 14:07] ChristieWittEclipse commented on #2
@chrisguindon thanks I noted this in Trello and will provide recommendations when I have a chance.

[2020-03-04 14:09] chrisguindon commented on #3
The document is here:
https://docs.google.com/document/d/1l9RVSpC4ppgSV5r7MGcz2LMcz6SQIw-OKzUGzaRScHI/edit

[2020-03-04 15:26] chrisguindon commented on #2
The ecdtool atom feed is now available on planeteclipse.org: https://planeteclipse.org/planet/ecdtools.xml

[2020-03-05 19:59] ChristieWittEclipse commented on #1
The initial website will have 2 pages, the homepage and a FAQ page.

**Homepage content/section:**
Jumbotron, Mission Statement, Testimonials and Mailing List images are attached.

**Typography**
@font-family-sans-serif: "Libre Franklin,Helvetica Neue,Helvetica,Arial,sans-serif"

**Color pallette**:
@brand-primary: #F89521; // Light orange

@brand-secondary: #B15B27; // Dark Orange

@brand-tertiar

[2020-03-05 21:15] ChristieWittEclipse commented on #2
@chrisguindon I would suggest that we display these using the font family I defined in this issue: https://github.com/EclipseFdn/ecdtools.eclipse.org/issues/1
@font-family-sans-serif: "Libre Franklin,Helvetica Neue,Helvetica,Arial,sans-serif"

The first line of the bulleted text can be in color #2C2255 (purple)
The second line of the bulleted text can be in color #231F20 (black)

[2020-03-10 18:11] ChristieWittEclipse commented on #1
@chrisguindon please also replace the first white ECD Tools logo with the attached image. It is a trademarked logo.
[ecd-tools-logo-white-tm.svg.zip](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/4314034/ecd-tools-logo-white-tm.svg.zip)

[2020-03-11 14:06] ChristieWittEclipse commented on #1
@chrisguindon the last change to imagery is to update the mission statement image to the attached.
It now includes a screenshot of Theia. Thabang and Wayne are happy with the graphics and look & feel.
[ecd-mission-image.jpg.zip](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/4318677/ecd-mission-image.jpg.zip)

[2020-03-12 20:40] ChristieWittEclipse commented on #1
I've attached the project logos as well.
[ECD Tools project logos.zip](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/4326459/ECD.Tools.project.logos.zip)

[2020-03-13 13:50] chrisguindon commented on #2
@ChristieWittEclipse  The screenshot is an example of how the component would look like on eclipse.org. This will look different on each of our website and it will use the colors that were defined for that website

[2020-03-13 14:23] ChristieWittEclipse commented on #2
@chrisguindon thanks for confirming that.

[2020-03-13 16:04] ChristieWittEclipse commented on #1
I've attached a mockup approved by Shanda and Thabang, that includes the 2 new sections: Projects and Initiatives. Please use a light purple: #f0f0f2 for the background of current initiatives and the border of the projects section.

![ecd-tools-mockup copy](https://user-images.githubusercontent.com/58480647/76638338-aa610580-6522-11ea-9961-da8ff0082507.jpg)

[2020-03-13 20:47] shanda-eclipse commented on #3
@chrisguindon The following sections are ready in the google doc:

- News
- Projects
- Current initiatives

[2020-03-16 19:01] chrisguindon commented on #3
@shanda-eclipse sounds good! Do you have an ETA for the rest of content?

The timeline suggested that today would be the last day.

[2020-03-16 20:21] chrisguindon commented on #3
@shanda-eclipse FWIW - I am planning to start working on this again on March 19.

Feel free to take these extra days to finalize the content!

[2020-03-17 13:28] shanda-eclipse commented on #3
@chrisguindon content is in good shape. Only a few outstanding comments in the document. Will be ready for next steps on March 19

[2020-03-24 20:59] shanda-eclipse commented on #3
- [ ] The "become a member" button in header links to the mailing list page, should link to a contact us page.
- [ ] We wanted to highlight: Eclipse Che, Eclipse Codewind, Eclipse Dirigible, Eclipse Theia before the read more, is that configurable?
- [ ] Image behind “Mission statement” - Please use image Christie posted https://github.com/EclipseFdn/ecdtools.eclipse.org/issues/1#issuecomment-5976

[2020-03-24 21:14] chrisguindon commented on #3
It's not possible but I think we can do this!

@autumnfound I am thinking that we need to pass an array or a list of project id's to the project shortcode to allow us to show these 4 projects first in that specific order!

Also, please expect @shanda-eclipse to post additional text changes later tonight or tomorrow!

[2020-03-24 22:55] JonasHelming commented on #2
This looks like a great solution!
I suggest to go further back in time, especially in the beginning, so we have more posts visible on the page. We have ~10 articles tagged with ECDTools, the next going back would be this one:
https://eclipsesource.com/blogs/2019/12/16/introducing-emf-cloud/

[2020-03-24 23:02] JonasHelming opened #7 "Adapt the order of projects"
As only four projects are shown without expanding the section, we might consider to either:

- Show the most important ones, i.e. Theia, Che, Codewind
- Shuffling the order

AFAICS, the entried come from some data source, so maybe the second is even easier to accomplish

Could you point me to where to update the logo of a project so that it appears correctly?

[2020-03-24 23:02] JonasHelming commented on #7
This is minor btw

[2020-03-25 12:56] shanda-eclipse commented on #3
Content on the initiatives page (https://ecdtools.eclipse.org/initiatives/) has been updated. Changes highlighted in the attached document.
[ECD website - Changes to initiatives - March 25.pdf](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/4380982/ECD.website.-.Changes.to.initiatives.-.March.25.pdf)

Notice also added to the google doc requesting that any further changes be added to Git

[2020-03-25 12:58] chrisguindon commented on #3
@shanda-eclipse Thanks Shanda for making it easy for us to understand the changes!

[2020-03-25 13:07] autumnfound commented on #7
@JonasHelming the logo of the project is retrieved directly from PMI on build. In the future this will be daily, but it hasn't been set up yet as this is a new site. If you update it in PMI, the next build of the site will have your updated logo.

In regards to the project order both are possible solutions, but our folks in marketing driving the content have selected the first option. I'll be maki

[2020-03-25 14:43] chrisguindon commented on #7
Thank @autumnfound and @JonasHelming

@autumnfound Your PR was committed! Production will be updated in the next ~15 minutes.

[2020-03-25 14:43] #7 closed

[2020-03-25 14:46] chrisguindon commented on #7
In regards to the logos, I've ask @shanda-eclipse to reach out to @waynebeaton on how we should proceed in regards to updating the project logos in the PMI.

It's not clear to us if it's appropriate for us to change it on their behalf or if we should reach out to them and ask them to make the change.

We need to sort this out before we can proceed!

[2020-03-25 14:54] autumnfound opened #9 "Fetch blog posts from planeteclipse.org"
In order to keep information fetched at build time from getting stale, we should recompile the site daily. This will keep content from getting too stale. This change will likely be made in the k8s config

[2020-03-25 15:41] chrisguindon commented on #9
+1

[2020-03-25 15:48] chrisguindon commented on #2
@JonasHelming I think you are right. There is more than 1 article that are tagged with ECDTools:
https://eclipsesource.com/blogs/author/helming_koegel?category_name=syndicate&feed=rss2

We might with our template on planeteclipse: https://github.com/EclipseFdn/planeteclipse.org/blob/master/planet/theme/ecdtools.xml.xslt

@autumnfound can you look into this whenever you get a chance?

[2020-03-25 16:34] waynebeaton commented on #7
No. It is not generally appropriate to change a project logo without their consent.

There are also intellectual property management concerns. Since this is not (AFAICT) project content (i.e. the logo is not going into a project repository and will not be included in any products of the project), it does not need to be taken through the IP Due Diligence process (if a project committer opts to incl

[2020-03-25 16:58] autumnfound commented on #2
We'd have to invest more time to get a more thorough solution. Right now the content is based on the main feed of 60 items, then cuts down to just the ECD tools items. This is why we only see 1 item rather than the full amount. We might need to create a separate feed or play with how we are limiting content atm to get a better sample of data.

[2020-03-25 17:45] ChristieWittEclipse commented on #7
Thanks @waynebeaton for confirming that.
@chrisguindon I've attached the Eclipse Che logo.
![logo-eclipseche-black](https://user-images.githubusercontent.com/58480647/77568335-d5dadd00-6e9e-11ea-999e-a8bee4121e26.png)

[2020-03-25 17:51] chrisguindon commented on #2
I see! I took a look at the docs and it's not possible for us to set items_per_page on a per template basis as we tried to do:
https://github.com/EclipseFdn/planeteclipse.org/blob/master/planet/planet.ini#L35

Documentation:
http://intertwingly.net/code/venus/docs/config.html

items_per_page
How many items to put on each page. Whereas Planet 2.0 allows this to be overridden on a per template basis

[2020-03-25 17:57] chrisguindon commented on #2
Actually, planeteclipse.org homepage is now returning posts from March 05, 2007 because of https://github.com/EclipseFdn/planeteclipse.org/blob/master/planet/planet.ini#L35. I would expect to see https://eclipsesource.com/blogs/2019/12/16/introducing-emf-cloud/ listed in the ecdtools feed.

Perhaps it's a caching issue?

@JonasHelming did you recently tag these articles on your website?

[2020-03-25 18:27] chrisguindon commented on #7
+1 Let's reach out to our projects via Eclipse Bugzilla and ask them to update their logo in the PMI and their website!

[2020-03-25 18:43] ChristieWittEclipse commented on #7
+1 request has been made in Bugzilla.

[2020-03-25 19:22] chrisguindon commented on #3
@autumnfound

1. The text for each project is too big please revert to the previous size. We only want the intro text to be bigger. "The ECD WG serves to advance, promote, and drive community participation in a broad portfolio of Eclipse projects."

2. Also, can you make sure to use the new image from @ChristieWittEclipse  for the mission statement:

![ecd-mission-image](https://user-images.github

[2020-03-25 19:31] chrisguindon commented on #2
I am not really sure what is going on here. The older post on planeteclipse.org is from July 08, 2019.

@JonasHelming post is from 2019/12/16 but it's not showing on PlanetEclipse. The feed seems fine since I can see the Eclipse Theia IDE – FAQ post.

[2020-03-25 22:38] JonasHelming commented on #2
I did not change any tag. What I do not get: Isn't the content served from this https://github.com/EclipseFdn/ecdtools.eclipse.org/blob/master/static/documents/ecdtools.xml
How is this updated?

[2020-03-26 01:24] chrisguindon commented on #2
We fetch a copy of the file each time we build the site:
https://github.com/EclipseFdn/ecdtools.eclipse.org/blob/master/package.json#L23

The file is originating from https://planeteclipse.org/planet/ecdtools.xml

This is a temporary solution while we work on adding Access-Control-Allow-Origin headers on planeteclipse.org.

[2020-03-26 07:45] JonasHelming commented on #2
I see, so the issues must be in the generation at planet eclipse.

[2020-03-26 13:46] chrisguindon commented on #2
Yes, I believe the issue with with planet eclipse.org or with your feed since the post you are referring to is not listed on the planeteclipse.org website.

@autumnfound is planning to take a quick look at the logs today to see if we can't find an explanation to why the post is not included!

My hope is that once we start seeing your post on planeteclipse.org we will also see it in the ecdtools fe

[2020-03-27 18:32] autumnfound commented on #3
Are we good to close this?

[2020-03-27 18:34] autumnfound commented on #1
Are we good to close this issue?

[2020-03-27 18:37] shanda-eclipse commented on #3
This is the only outstanding issue I see, but it might be listed as a separate bug.

[2020-03-27 19:03] autumnfound commented on #3
If you check the site that has been completed! We can configure it on the page by changing a string of text on the page. I'll be closing that bug in a moment as well

[2020-03-27 19:09] shanda-eclipse commented on #3
Looks good. We will ask the projects to update their logos in the PMI.

[2020-03-27 19:09] #3 closed

[2020-03-27 19:13] ChristieWittEclipse commented on #1
@autumnfound yes we are.

[2020-03-27 19:19] #1 closed

[2020-03-30 14:04] shanda-eclipse opened #15 "Add March 2020 newsletter articles to homepage"
Please add the following articles to the blogs (or news?) section of the homepage:

Title: Eclipse Theia Is Ready for Primetime
URL: https://www.eclipse.org/community/eclipse_newsletter/2020/march/4.php
Publish Date: March 19, 2020

Title: Five Things You Might Not Know About Eclipse Che
URL: https://www.eclipse.org/community/eclipse_newsletter/2020/march/3.php
Publish Date: March 19, 2020

Title:

[2020-03-30 15:38] shanda-eclipse opened #16 "Add link to charter on homepage"
The ECD working group charter offers a lot of relevant information for new audiences. We would like to add a button next to "Join the working group" button in the "Mission statement" section.
<img width="777" alt="New button for charter" src="https://user-images.githubusercontent.com/61751191/77931985-e31b1180-727a-11ea-88be-d5299f5b661f.PNG">

Button: Read the Charter
Link: https://www.eclipse.or

[2020-03-30 19:37] chrisguindon commented on #4
Done

[2020-03-30 19:37] #4 closed

[2020-03-30 20:24] chrisguindon commented on #15
Thanks @autumnfound

[2020-03-30 20:24] #15 closed

[2020-03-30 20:52] chrisguindon commented on #16
Join the wg already links to the charter.

I created a PR with the following changes:
https://deploy-preview-18--eclipsefdn-ecdtools.netlify.com

I made a change to the Join the WG link and it's now linking to: https://accounts.eclipse.org/contact/membership/ecdtools

I added Read the charter link:
https://www.eclipse.org/org/workinggroups/eclipse_cloud_development_charter.php

[2020-03-30 21:00] #16 closed

[2020-03-31 18:15] deboer-tim opened #20 "Missing Codewind logo"
**Describe the bug**
The projects section has logos for Che and Theia, but there's a placeholder for Codewind.

**Expected behavior**
Replace with Codewind logo.

**Screenshots**
<img width="903" alt="Screen Shot 2020-03-31 at 2 10 26 PM" src="https://user-images.githubusercontent.com/19958075/78060422-7cb8f080-7359-11ea-82ad-b9fd5dcd3eeb.png">

**Additional context**
I'd be happy to submit a PR,

[2020-03-31 18:20] autumnfound commented on #20
Hi @deboer-tim, we pull all of our information from the API for the project management interface (PMI), including the logo URL. If an update is made to the project within the Eclipse foundation, the logo used on the site will be updated on next build

[2020-03-31 18:21] deboer-tim opened #21 "Che logo is white on white"
**Describe the bug**
The Che logo has the name "Eclipse Che" in white and is being shown on a white background, which just makes it look like the logo alignment is off.

**Expected behavior**
Either the logo appears centered (without text) or the text is visible (through different colour logo text or background.

**Screenshots**
<img width="903" alt="Screen Shot 2020-03-31 at 2 10 26 PM" src="http

[2020-03-31 18:41] chrisguindon commented on #20
I believe @ChristieWittEclipse already reach tout o projects without a logo and ask them to update their logo in the PMI via Bugzilla.

[2020-03-31 18:43] chrisguindon commented on #21
@ChristieWittEclipse  already made a request about this:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=561463

[2020-03-31 18:43] #21 closed

[2020-03-31 18:46] deboer-tim commented on #20
I'm the lead, pinged the release eng too, neither of us know where this is (not) coming from and haven't been reached out to. Any pointers to where we can change this appreciated.

[2020-03-31 18:47] chrisguindon commented on #20
@deboer-tim You should be able to upload a logo here:
https://projects.eclipse.org/projects/ecd.codewind/edit

[2020-03-31 18:48] ChristieWittEclipse commented on #20
@chrisguindon @deboer-tim That's correct – I did reach out to the projects requesting that they update their logo in their PMI.

[2020-03-31 18:49] chrisguindon commented on #20
The bug that @ChristieWittEclipse for codewind is here: https://bugs.eclipse.org/bugs/show_bug.cgi?id=561527

[2020-03-31 18:59] deboer-tim commented on #20
Thanks for the link. Logo uploaded, bugzilla resolved. Do we need to kick off a build here, or just wait for schedule/next PR?

[2020-03-31 19:07] autumnfound commented on #20
For now, next PR will trigger a rebuild. We plan on implementing a schedule that will rebuild daily to keep our data fresh

[2020-03-31 19:47] chrisguindon commented on #20
I manually started a new build since it's going to make the site look nicer! The website should update within the next 10 minutes or so!

[2020-03-31 19:47] #20 closed

[2020-03-31 19:47] chrisguindon commented on #20
Thanks all!

[2020-03-31 19:59] deboer-tim commented on #20
It's live now. Looks great, thanks all!

[2020-04-01 09:51] l0rd commented on #21
I have updated the logo and text in the [project page](https://projects.eclipse.org/projects/ecd.che). The logo looks updated now but not the text (the ® symbol is still missing). Is a rebuild of the the site required?

![image](https://user-images.githubusercontent.com/606959/78123841-17273b80-740f-11ea-8942-e228c255198c.png)

[2020-04-01 12:02] chrisguindon commented on #21
@l0rd I am rebuilding the site now! Thanks for the update!

[2020-04-01 13:04] ChristieWittEclipse commented on #21
Thanks @l0rd!

[2020-04-01 13:12] chrisguindon commented on #21
@ChristieWittEclipse Is it normal that the logo has the TM symbol but the text has the R?

[2020-04-01 13:19] ChristieWittEclipse commented on #21
@chrisguindon yes that is correct, the logo can be trademarked and the wordmark is registered. I also asked Sharon the same question.

[2020-04-01 13:29] chrisguindon commented on #21
Thank you @ChristieWittEclipse

[2020-04-15 19:24] GraehamHui opened #23 "Add following articles to news section of ECD Tools Website"
Please add the following 5 news articles to the news section of the ECD tools website

**Article 1:**
Title: Theia Framework 1.0 Enables Web IDEs
Date: APR 05, 2020
Abstract: Earlier this week, the Eclipse Foundation announced the release of Eclipse Theia 1.0, an open-source framework for building web and native IDEs.
Link: [](https://www.infoq.com/news/2020/04/theia-enables-web-ides/)

**Article

[2020-04-22 17:29] ZahraFazli opened #24 "Remove Intel Corporation From the ECD Tools website"
Please remove Intel's logo from the ECD Tools website. https://ecdtools.eclipse.org/#members

[2020-04-23 12:54] autumnfound commented on #23
There seems to be a link missing for the first article, could you provide that? Thanks!

[2020-04-23 14:26] autumnfound commented on #24
This change is live

[2020-04-23 14:26] #24 closed

[2020-04-24 14:24] GraehamHui commented on #23
Hey Martin! My bad, here's the link: [](https://www.infoq.com/news/2020/04/theia-enables-web-ides/)

[2020-04-27 12:53] #23 closed

[2020-05-04 13:44] JonasHelming commented on #2
I published another post that does not appear, see:
https://planeteclipse.org/planet/

[2020-05-04 14:46] chrisguindon commented on #2
@autumnfound Any news why the ecdtools.xml is not updating?

[2020-05-04 19:35] autumnfound commented on #2
I'm going to take a look at this tomorrow morning to see if I can find out what the issue is, and look and see if there are better solutions for this.

[2020-05-05 21:06] autumnfound commented on #2
After some poking, it looks like the root of the issue is around a workaround we made for a CORS issue we couldn't resolve immediately when building the site initially. Since we couldn't request the feed data through ajax, we had the build fetch a static copy of the feed at build time. This means any updates between/after builds are not seen until the site is rebuilt. As the site hasn't rebuilt in

[2020-05-05 21:09] chrisguindon commented on #2
Thanks @autumnfound for investigating this!

I will reach out to Webmaster tomorrow and fix the CORS issue on planeteclipse.org.

This will allow us to pull blogs posts directly for the source instead of creating a copy of the file each time we build the site!

[2020-05-05 21:12] chrisguindon commented on #9
Actually, let's close this issue in favor of https://github.com/EclipseFdn/ecdtools.eclipse.org/issues/2

[2020-05-05 21:12] #9 closed

[2020-05-06 13:25] autumnfound commented on #2
@mbarbero I'm looking at doing periodic restarts in kubernetes for the site, and was looking at https://stackoverflow.com/a/58378834. Would this be the proper way to restart our prod site pods safely?

[2020-05-06 13:28] chrisguindon commented on #2
@autumnfound The cron job was a temporary solution. I will work with webmaster on fixing the cors issue on planeteclipse.org to allow us to pull the feed there directly.

I think that's the right solution for this problem.

[2020-05-06 18:55] chrisguindon commented on #2
I created https://github.com/EclipseFdn/planeteclipse.org/issues/23 to address this issue!

@autumnfound Would you mind creating a PR which will remove the script that currently copies the xml file and update the JS code and make it fetch the xml directly from https://planeteclipse.org/planet/ecdtools.xml

[2020-05-07 19:41] JonasHelming opened #28 "Create a section "Interesting reads""
Currently, the blog sections is very empty, as it does not aggregate far into the past.
This makes the page look very inactive.

Proposal:

Rename "Blogs" to "Recent Blogs" and add a section below called "Interesting reads" or "Previous Blogs" where we manually pin some of the generic introduction articles.

WDYT?

[2020-05-11 17:27] chrisguindon commented on #28
I think this is a good idea.

This could be as simple as updating HTML as I am doing here:
https://github.com/EclipseFdn/ecdtools.eclipse.org/pull/29/files

Example:
https://deploy-preview-29--eclipsefdn-ecdtools.netlify.app/

[2020-05-11 17:28] chrisguindon commented on #28
@JonasHelming If you like where this, could you post a list of articles that we can use to get us started?

[2020-05-12 11:04] JonasHelming commented on #28
OK, sounds great! Here is my proposal for the initial list, we can adapt that over time...

[Eclipse Che vs. Eclipse Theia](https://eclipsesource.com/blogs/2018/12/03/eclipse-che-vs-eclipse-theia/)
[Eclipse Theia vs. VS Code[(https://eclipsesource.com/blogs/2019/12/06/the-eclipse-theia-ide-vs-vs-code/)
[Eclipse Theia IDE – FAQ](https://eclipsesource.com/blogs/2019/12/24/eclipse-theia-ide-faq/)
[We

[2020-05-12 14:22] autumnfound commented on #28
I tweaked the live copy a little to see one of the worst-case scenarios for content display. I added 5 blogs to recent + starter articles, and 3 events.

![image](https://user-images.githubusercontent.com/23018241/81703229-4aabab80-943a-11ea-92ab-5c760293d429.png)

If we add a fourth news article, or reign back the blog counts to 3, we would see a more balanced page once the content exists. Which

[2020-05-12 14:33] JonasHelming commented on #28
Good catch! However, I doubt we will run into this scenario any time soon. As soon as there are more "recent blogs" and "events", I am sure, we will have a fourth news item. BTW, I would call the middle section "recent blogs", as it is really only the latest ones.

[2020-05-12 17:12] chrisguindon opened #31 "Reduce or remove loading icon"
I think the loading icon is quite big for the blogs section and it feels out of place since it's not something we are currently using for other sections on the page.

I say that we remove it or we make it smaller!

[2020-05-12 17:15] chrisguindon commented on #2
Planeteclispe.org is now including the ‘Access-Control-Allow-Origin’ header which we needed to finalize this issue!

We are now pulling blog posts from planeteclipse.org via this commit: https://github.com/EclipseFdn/ecdtools.eclipse.org/commit/f081e4a8a5b39dce8a8be66bc0a84fea5e9b5d4e

Closing this issue!

[2020-05-12 17:15] #2 closed

[2020-05-19 15:32] JonasHelming commented on #28
Any update or remaining issues on this?

[2020-05-19 15:44] deboer-tim opened #32 "What's new items have undefined text"
**Describe the bug**
Go to the website, every item under 'What's New' shows "undefined, undefined NaN, NaN - aN:aN" across the top.

**Expected behavior**
I think this used to show the date and some other info?

**Screenshots**
![Uploading Screen Shot 2020-05-19 at 11.43.20 AM.png…]()

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser Safari

[2020-05-19 15:45] deboer-tim commented on #32
<img width="956" alt="Screen Shot 2020-05-19 at 11 43 20 AM" src="https://user-images.githubusercontent.com/19958075/82347954-40ebf000-99c6-11ea-93ef-1bf15f843a3a.png">

[2020-05-19 16:08] autumnfound commented on #32
You're right, it did use to display the date properly. This happened after a migration to use a central news source rather than have news be defined site by site. It makes use of some older code to format the date that no longer works properly with Safari. This will be fixed in the next couple of days (barring any issues or sticky bits of code) and can be tracked on eclipsefdn/jquery-eclipsefdn-ap

[2020-05-19 17:10] chrisguindon commented on #28
@JonasHelming Are you ok with something like this?
https://deploy-preview-33--eclipsefdn-ecdtools.netlify.app/

On a different note, please feel free to submit a PR if you wish to make changes to the website!

We are here to help but some of our working group website such as openadx.eclipse.org is mostly maintained by folks in the community!

We encourage everyone from our community to get involve

[2020-05-20 06:57] JonasHelming commented on #28
@chrisguindon : Yes, that looks so much better and more active!
Sure, I am aware of PRs and will file them to maintain the content if applicable!

[2020-05-22 18:07] #28 closed

[2020-06-16 15:46] shanda-eclipse opened #36 "Google Analytics for ECD tools"
I took a look at our GA account and it doesn't appear that we have it enabled for ecdtools.eclipse.org. Can we please set this up?

[2020-06-16 15:50] shanda-eclipse commented on #36
@karenmcnaughton FYI

[2020-06-30 14:16] autumnfound commented on #31
Is this still an issue? We've removed the loading icon on a majority of sites.

[2020-07-09 12:17] jpersonna opened #37 "Info on the ECD WG Initiatives web page needs to be updated"
There have been some important updates to the slides for the ECD WG Initiatives. The updates were done prior to the Community Meeting that was held in May. It would be great if the ECD WG Initiatives web page (https://ecdtools.eclipse.org/initiatives/) could be updated to reflect those changes.

Thank you!

[2020-07-31 11:16] brianking opened #41 "404 Page"
**Is your feature request related to a problem? Please describe.**
Going to an a page that doesn't exist on the site is a bad user experience. It's just a blank page with a generic 404 message.
e.g. https://ecdtools.eclipse.org/foo/

**Describe the solution you'd like**
Add a 404 page with the site design, and a more helpful message to try and get them where they are going.

Hugo likely has a buil

[2020-08-07 14:31] brianking opened #42 "Adopters Page"
Create a page showcasing/listing adopters of our Cloud Dev Tools.

[2020-08-07 15:04] chrisguindon commented on #32
This is done

[2020-08-07 15:04] #32 closed

[2020-08-10 10:29] brianking commented on #42
The process being used at https://iot.eclipse.org/adopters/ is a good model to use here. It is composed of at least these parts:

1. The page itself : https://github.com/EclipseFdn/iot.eclipse.org/blob/master/content/adopters/_index.md
2. Instructions on how to be listed, as a separate page : https://github.com/EclipseFdn/iot.eclipse.org/blob/master/content/adopters/how-to-be-listed-as-an-adopter/

[2020-08-10 10:31] brianking commented on #37
@jpersonna Could you summarize here what those changes are please.

[2020-08-10 13:31] ericpoirier commented on #41
Hi Brian, this is something that we might want to add to the Solstice Hugo theme rather than just in the ECD tools website. This way the 404 page design will be applied to all our Hugo websites.

I suggest we open an issue against the following repo instead of this one.
https://github.com/EclipseFdn/hugo-solstice-theme

[2020-08-10 13:38] brianking commented on #41
@ericpoirier Agreed, and done.
https://github.com/EclipseFdn/hugo-solstice-theme/issues/147

[2020-08-10 15:54] autumnfound commented on #42
We should add this to the base theme, so that if we need it on any other sites it can be as easy as adding a tag and the data file!

https://github.com/EclipseFdn/hugo-solstice-theme/issues/148

[2020-08-10 17:56] brianking commented on #42
That works for me!

[2020-08-13 12:30] chrisguindon commented on #42
I do not want to duplicate what we did for IoT for ECD Tools but I agree that we will need to include this feature in our base theme.

The plan is to create a new project/repository to allow us to manage adopters for every Eclipse project instead of duplicating this effort for each working group.

WG sites will then display the projects that they are interested in. The list of projects will come f

[2020-08-13 15:52] brianking commented on #42
That sounds like a good plan, thanks for the update. Let me know if/how I can help as you work on this.

[2020-08-13 16:30] chrisguindon commented on #42
Sure!

The ecdtools.eclipse.org website will be the first consumer of this new process! We will need your help to test and confirm that all is well before we start rolling this out to our other WG sites!

[2020-08-14 14:05] chrisguindon commented on #41
@ericpoirier I posted some info about this here: https://github.com/EclipseFdn/hugo-solstice-theme/issues/147

https://ecdtools.eclipse.org/404.html

We already have a 404 page but we need to configure the server to use it.

[2020-08-19 12:44] brianking opened #46 "Remove More menu from site top navigation"
Click the 'More' menu item with the arrow in the top navigation

Expected:
It shows more items related to ECD Tools.

Actual:
It shows items related to eclipse.org in general.

Proposal:
Remove the menu completely to make the site more self-contained.
iot.eclipse.org takes this approach.

[2020-08-19 12:45] brianking commented on #46
@chrisguindon What are your thoughts on this?

[2020-08-19 12:47] chrisguindon commented on #46
I don't have a strong opinion either way. The more menu is there to share useful links but most WG prefers to remove it.

We can easily remove it so it's your call!

[2020-08-19 12:49] chrisguindon commented on #41
I spoke to @mbarbero last week! He will submit a patch for ecdtools and my team will deploy this to the other WG sites.

[2020-08-19 13:58] brianking commented on #37
@jpersonna This has been updated, please check to see if it meets your expectations based on why you opened the issue. Thanks.

Closing for now.

[2020-08-19 13:58] #37 closed

[2020-08-19 13:59] brianking opened #48 "Community Page"
Start a community page that will list ways to get involved, and provide details for WG and community calls. It can evolve into a community resource hub as needed.

[2020-08-19 17:33] #46 closed

[2020-08-19 17:34] chrisguindon commented on #48
Hi @brianking,

Let us know if you need help here but I think the first step is to define the content for this new page!

[2020-08-19 17:35] chrisguindon commented on #42
Update:

We are currently making some progress on this via https://github.com/EclipseFdn/eclipsefdn-project-adopters

[2020-08-19 17:36] chrisguindon commented on #41
The web server is now serving our 404 page:
https://ecdtools.eclipse.org/sdfdsfs

I am closing this issue.

@brianking Feel free to open a separate issue if you wish to change the content of this page for ecdtools.

[2020-08-19 17:36] #41 closed

[2020-08-19 17:51] chrisguindon commented on #36
Looks like this was already set up but there was a typo in the google analytics id. I made the change and things seem to be back to normal now.

[2020-08-19 17:51] #36 closed

[2020-08-20 14:24] brianking commented on #48
First pass at content: https://github.com/EclipseFdn/ecdtools.eclipse.org/wiki/Community

[2020-08-24 16:46] brianking opened #50 "Add Social Links"
I would like to surface up prominently on the site the ECD Tools Social links. We have Twitter [@ECDTools](https://twitter.com/ECDTools) and [LinkedIn](https://www.linkedin.com/showcase/ecd-tools/).

The most prominent place would be in the header template / banner somewhere. Does out Solstice theme support something like this?

[2020-08-24 16:49] brianking commented on #50
I notice now it is in the footer. At the very least, we'd want to change the link for Twitter to ECDTools. Would still like to explore more prominent placement.

[2020-08-24 17:12] autumnfound commented on #50
Currently, we only support social links in the footer. An option would be to include either a 'Social' section rn page on the site with the desired links. A second option if there is need and reason would be to create or customize a component to provide these links as well.

To address your second comment, we can update the link for the Twitter social icon in the configurations with a patch!

[2020-08-25 16:15] brianking commented on #50
@autumnfound I think in the short-term having a social section or sub-section on the main page and possibly some others is a good solution. Beyond that, it would be nice I think to have something that is sticky across all pages in a more prominent position.

Even now the footer links are not visible when the cookie bar is present, and I wonder how many people just leave that there.

[2020-08-25 17:59] chrisguindon commented on #50
We can always add a new social media section on the homepage by creating a new shortcode:
https://github.com/EclipseFdn/ecdtools.eclipse.org/tree/master/layouts/shortcodes

[2020-08-26 14:53] brianking opened #52 "Members Page"
I think it would benefit the site by having a dedicated page / section on the site for members.

Currently I am thinking the changes would be:

* In the Members section on the home page, list fewer members and add a link/button to go to the Members page that will list all members.
* Change the Members link on the top-level menu to go to the Members page
* Move Testimonials from the home page to th

[2020-09-01 11:26] brianking opened #53 "Projects Page"
Break out the Projects section on the home page into a new /projects page to provide more context.

Possible model:
https://iot.eclipse.org/projects/

[2020-09-04 18:47] autumnfound commented on #52
@brianking Please see https://deploy-preview-54--eclipsefdn-ecdtools.netlify.app/membership/ for an initial rough draft of content. Right now the page is very bare, would you want to add more content to the page? Two samples of what we've done in the past can be seen on the [Jakarta EE page](https://jakarta.ee/membership/) and [IoT page](https://iot.eclipse.org/membership/).

Additionally, we have

[2020-09-08 09:28] brianking commented on #52
I like it so far, thanks @autumnfound. I don't think the page is that much more bare, when compared to the other WG member pages you link to. So for me it is good to go. What I would add straight away however is:

* The 'Contact Us About Membership' button somewhere at the top of the page, pointing to https://accounts.eclipse.org/contact/membership/ecdtools
* Add a Benefits section. I can provide

[2020-09-08 13:32] brianking commented on #50
Can we add a Slack icon there as well?

Icons for use: https://brandfolder.com/slack/logos

Pointing to: https://ecd-tools-wg.slack.com/

[2020-09-08 13:43] autumnfound commented on #50
Adding slack would be an upgrade to the base theme, and could be done a little later. I've created a bug to track this https://github.com/EclipseFdn/hugo-solstice-theme/issues/158

[2020-09-08 13:45] autumnfound commented on #50
@brianking I'm going to look into this this morning, and wanted to ask about positioning. Are you thinking that it would be alongside the title, or somewhere else?

[2020-09-08 13:52] brianking commented on #50
I am not sure what you mean. I mean in the footer with the social links. However, we might not be able to use it there as it would not fit our color guidelines and we can't break their usage rules.

<img width="271" alt="Screenshot 2020-09-08 at 15 50 07" src="https://user-images.githubusercontent.com/114116/92485402-2fd02480-f1eb-11ea-98e4-50e709cea0a1.png">

Incidentally, despite my pull request

[2020-09-08 13:54] autumnfound commented on #50
What I meant to ask about was the "sticky position" on the page you would want.

[2020-09-08 14:34] brianking commented on #50
It would make sense for it to go in the header somewhere I think, but am open to suggestions.

Note that some pages, e.g. https://ecdtools.eclipse.org/initiatives/ have a smaller header.

I wonder if we should consult a designer for an opinion. Do we have anyone who advises on our web properties?

[2020-09-08 16:48] autumnfound commented on #52
@brianking I've made a couple of updates, to the homepage and the membership page. WDYT?

[2020-09-08 18:32] brianking commented on #52
Looks good. A few things:

1. On the homepage, change the section title from 'Founding Members' to just 'Members'.
2. Do you think the page would benefit from a taller header like the homepage?
3. We can add some bullet points at the top about membership
4. We can add a section about benefits also with bullet points

Feel free to add placeholder text for 3&4 until I am able to pull together some c

[2020-09-08 20:08] autumnfound commented on #52
We typically use the larger top section or jumbotron when a page acts as a landing page. We might be able to make it work by linking to the different sections on the page, as well as contact us, but it's stretching it at the moment. Otherwise, I've made updates

[2020-09-09 11:38] brianking commented on #52
First pass at content, this will need to be reviewed and iterated on. I will let you know when it is ready:
https://docs.google.com/document/d/1JiTWvjEFWOZSAYPVDuogsxY_UZhJA1jo-SCpIFjDobs/edit?usp=sharing

[2020-09-09 12:13] brianking opened #56 "Slack Landing Page"
Slack does not provide a landing page for workspaces where someone can request an invite. If you go to the workspace page, you are only prompted to sign in which is useless if you have not been invited.

3rd party services exist for such pages.

Example landing page: https://slack.cncf.io/
Service used: https://github.com/rauchg/slackin

A logical place for our landing page to exist would be ecdto

[2020-09-09 14:21] autumnfound commented on #50
It's not typical to put social links in the header of the page. That is reserved for navigation within the site and immediately important information. The normal spot for this is towards the bottom of the page so that when people read the info on the page and they want more info, they follow the social links. The typical places are in the footer someplace, or at the bottom of the content before th

[2020-09-09 14:40] ChristieWittEclipse commented on #50
@autumnfound @brianking I'm a bit swamped, but I've added this to my backlog to review.

[2020-09-16 12:49] brianking commented on #53
Information to include on each project (at least):

* Name
* Logo
* Short description
* Link to project page / website
* Link to Community / How to Contribute page
* Social links

[2020-09-25 15:49] brianking commented on #52
@autumnfound We have the content to proceed with this one.
https://docs.google.com/document/d/1JiTWvjEFWOZSAYPVDuogsxY_UZhJA1jo-SCpIFjDobs/edit?usp=sharing

Requested changes:

* Add introductory content from document
* Updates the benefits section based on section in doc
* Remove the 'Contact us about membership' section. Move the button in that section up to the top somewhere, and change the tex

[2020-10-02 15:50] autumnfound commented on #52
@brianking Since we've broken away from founding members as the only grouping of members, how should we display members on the home page?

[2020-10-02 17:16] autumnfound commented on #52
Additionally, I've updated https://deploy-preview-54--eclipsefdn-ecdtools.netlify.app/membership/  with new content. Feel free to check it and let me know what you think

[2020-10-02 17:20] brianking commented on #52
@autumnfound How about presenting the members in the categories presented in the image in the comment earlier here?

[2020-10-02 17:25] autumnfound commented on #52
On the homepage? That would take up a lot of screen real estate and reduce the use and traffic to the page we are creating here. Do we still want to have a random selection of the available members/3 of them displayed with the View All Members button? Do we want to just remove the section and have the link in the header?

[2020-10-02 17:30] autumnfound commented on #53
Did you want the content to be listed like it is on the page you linked? Additionally, the content on the page you listed is constrained to mostly information available from https://projects.eclipse.org/api/projects/?working_group=cloud-development-tools (I've restricted the content to the working group to give more representative examples). This allows us to show the first 5 bullets, and potentia

[2020-10-02 18:00] croundy commented on #52
I would like the look and feel to be a bit warmer and visually inviting.  Even if we mirror the IoT page for now https://iot.eclipse.org/membership/

1) Larger top banner with a "contact us about membership" button that links to the membership form
2) Rounded vs. square buttons, which would be a site wide issue
3) More separation between buttons
4) Cleaner member testimonial section
5) Right side

[2020-10-02 19:49] chrisguindon commented on #31
Sounds good!

[2020-10-02 19:49] #31 closed

[2020-10-02 20:05] brianking commented on #52
@autumnfound Sorry I misunderstood. For the hompage, let's have it like https://iot.eclipse.org/ and just highlight use any 3 Strategic members.

'Become a member' should go to https://accounts.eclipse.org/contact/membership/ecdtools (it should also go on top of the Members page) and 'View all members' should go to the new page.

I agree mostly with Clark's suggestions, but we don't need a separat

[2020-10-02 20:14] croundy commented on #52
agree that we can add the members page later...just want to make sure it's on the radar

[2020-10-05 10:10] brianking commented on #53
+ @croundy

I think this is ok for a start. Do we have any flexibility with the layout? e.g. Having two columns rather than a flat listing.

Also similar to #52 this page would work best if we had a larger banner on the top of the page than current standalone ecdtools pages.

[2020-10-05 11:03] brianking commented on #50
@autumnfound Is there any other design support available for this? With the new creative development process, I am not sure where this fits.

[2020-10-05 16:45] autumnfound commented on #52
I've added changes for most of the feedback, except the following:

How would you clean this section up? I think something we could do is darken the background image of the section by 33%-50% to make the text much more clear, and make the organization names larger and more prominent.

Because of the current page structure, adding a sidebar would be mighty complicated with the current implementatio

[2020-10-05 17:05] autumnfound commented on #53
With the nature of the current design, crunching it to 2 columns makes it feel just that, crunched. We'd have to do some switching around of a few classes to make it seem less cramped, but it could be theoretically done. What would you want the additional column for? Is it a different list, or just a compressed way of viewing more projects at once?

For the jumbotron, do you have links or some tag

[2020-10-05 17:18] brianking commented on #52
New updates look good.

Agreed in splitting the structure out to a separate issue, the first version of this that goes live can focus just on the content.

[2020-10-05 17:27] brianking commented on #53
My thinking about the projects was that the description is not that long for them, so doesn't really need all that vertical space and **might** look better. However, I'm no designer so it's just a hunch! For the first pass we can leave as-is, and revisit the design later.

For the jumbotron text, something similar to what we have in the Projects section on the homepage right now. Something like:
"

[2020-10-05 17:44] croundy commented on #52
Thank you. Definitely an improvement and moving in the right direction.  To your questions:

4. Member testimonials.

-  The background is rather busy and competes with the logos and text. Perhaps change to just a solid background

- Change "Testimonials" to something less formal, such as "What Our Members are Saying"

- I don't know that the company names below the logos are necessary. Perhaps re

[2020-10-05 18:19] croundy commented on #52
For the Jumbotron, if possible to give it similar look and feel to the IoT membership page, it would give that space more polish https://iot.eclipse.org/membership/

My thoughts:

- Change "Membership" to "Join Us"

- Move this statement from the body text to the Jumbotron: "Join industry leaders like Ericsson, IBM, Red Hat, and SAP as we define and build the future of Web and cloud development to

[2020-10-05 19:00] autumnfound commented on #52
This is why I suggested making the background image darker/more muted. We use images to make the section pop more than just a plain coloured section while making the content more prominent.

Previous mark up didn't have it, and I haven't updated the actual component to include the names yet. Apologies!

There is a way we can make it work through a carousel that would nicely bridge the dynamic impl

[2020-10-05 19:11] croundy commented on #52
Thank you for all the help! About the global styling, does it make sense to use it across the entire ECD site? It does seem cleaner and more polished that what we are currently using.

[2020-10-05 19:55] autumnfound commented on #52
We should split that out as a separate request. I agree its a cleaner look overall, but if you don't have something in the design to fill the whitespace, then it makes it feel more empty.

[2020-10-05 20:14] autumnfound commented on #52
I've updated the sample site  https://deploy-preview-54--eclipsefdn-ecdtools.netlify.app/ with the new changes. The changes in this patch impact more than just the membership page now, but all of the changes are for the better IMO. The noticeable changes; headings are no longer forced to be uppercase, and buttons are now pills.

On the membership page, I've fixed testimonials title, people's name,

[2020-10-05 20:30] croundy commented on #52
Definitely an improvement. Thank you!

For the testimonials, I'm thinking that we should actually make the names and titles smaller than the quotes. And perhaps even italicized or some other treatment to set them apart from the quotes themselves.

[2020-10-05 20:34] croundy commented on #52
Now reviewing the top nav, am thinking we can eliminate "Join" and "Testimonials" which will give us room to add "Projects" and "Adopters" as well as social media icons to make them more visible

[2020-10-06 11:48] brianking commented on #52
@autumnfound I notice the Members **section** on the homepage is gone now. Intentional?

[2020-10-06 12:47] chrisguindon commented on #52
I see it..

[2020-10-06 13:07] autumnfound commented on #52
Updated to add members section back (removed it as it was breaking while I was playing around with the members), and updated the navigation. There are still convos to be had around how to handle social icons, but that has its own issue already!

[2020-10-06 13:10] autumnfound commented on #52
@croundy @brianking so final look through, are you happy with the current look and feel of the members page?

[2020-10-06 13:26] brianking commented on #52
Looks good to me!

[2020-10-06 14:05] croundy commented on #52
Definitely a big improvement. Many thanks for all your good work! One minor thing:

1. We have "Web" capitalized on the tagline. Let's make that lower case

Next steps: would like to explore the other improvements we discussed

- Dynamic member quotes

- Social media links to the top nav

- Right side nav

We will also need to add top nav for some new pages (adopters, projects, etc,) when content

[2020-10-06 15:17] brianking commented on #52
I'm ok with deploying what we have, and opening other issues for the rest of the enhancements.

[2020-10-06 15:32] chrisguindon commented on #52
@brianking @croundy

Ii will send you both a meeting invite. I think we need to discuss a better way for us to collaborate on these projects.

I think it would be best for you to work with a designer before we start implementing these new pages.

[2020-10-06 19:51] chrisguindon commented on #50
@brianking The short answer is that we need to involve the marketing team (@karenmcnaughton) for design resources. My team is not responsible for content or the look and feel of WG website but we are responsible for implementing the changes.

[2020-10-06 19:54] chrisguindon commented on #50
@karenmcnaughton can you explain the process to @brianking on how he can request design resources from you?

[2020-10-08 18:44] chrisguindon commented on #53
As discussed, we will implement a very similar page form IoT https://iot.eclipse.org/projects/

[2020-10-08 18:48] chrisguindon commented on #52
As discussed, we can go live with this. @croundy and @brianking will create new issues for the remaining tasks.

[2020-10-09 15:17] #52 closed

[2020-10-09 15:18] chrisguindon commented on #48
Committed!

[2020-10-09 15:18] #48 closed

[2020-10-13 14:18] chrisguindon commented on #50
@karenmcnaughton I am adding you to this issue since we need some guidance on how this should look.

So far we have: https://deploy-preview-55--eclipsefdn-ecdtools.netlify.app/

<img width="1122" alt="Screen Shot 2020-10-13 at 10 17 24 AM" src="https://user-images.githubusercontent.com/893942/95872864-4ebb5c80-0d3d-11eb-980b-c1c6b7347bc7.png">

@brianking feedback for this so far is:

[2020-10-13 14:19] chrisguindon commented on #50
@brianking @karenmcnaughton could the solution be as simple as moving this section below the jumbotron?

[2020-10-13 17:29] #53 closed

[2020-10-14 00:45] chrisguindon commented on #53
Correction: Projects are ordered not by name but by project id.

[2020-10-16 12:32] chrisguindon commented on #56
I just took at the documentation and this requires it's own webserver. It's more complicated than simply installing the plugin on the site.

@brianking This is a good example of an issue that can be an MBO for us in Q1.

[2020-10-16 13:00] brianking commented on #56
Ok thanks for looking.

[2020-10-21 20:09] jph152 opened #62 "Adding a featured story banner to ecdtools.eclipse.org"
We'd like to add a featured story to the ECD Tools homepage, similar to what the Jakarta EE site has:

<img width="1227" alt="Screen Shot 2020-10-21 at 3 26 23 PM" src="https://user-images.githubusercontent.com/69642121/96772906-caf31700-13b1-11eb-875a-c3787c152630.png">

On the right side, can we add the ECD Tool Time logo (attached) and text as follows:

![ecd_tool_time_logo](https://user-images

[2020-10-21 20:32] brianking commented on #62
Sounds good @jph152 , what do you need from me?

/cc @croundy

[2020-10-21 20:46] croundy commented on #62
Should actually be the Tool Time logo. @jph152  do you have a good resolution version of that?

[2020-10-21 20:51] croundy commented on #62
@brianking  you just need to change your name to the Tool Man

[2020-10-21 21:28] jph152 commented on #62
Thanks for catching that! I have too many things in my downloads bar. Fixed now

[2020-10-22 13:57] chrisguindon commented on #62
Thanks for opening the issue @jph152!

Can you make sure to create the featured story item in the newsroom website before we start working on this task?

[2020-10-22 15:10] jph152 commented on #62
@chrisguindon We're going to work on creating a sign-up page that we can link to, so once that is set up I'll create the featured story and we can start on this. I'll keep you posted

[2020-10-22 15:52] flora8984461 commented on #62
I have created a draft PR and here is the preview: https://deploy-preview-63--eclipsefdn-ecdtools.netlify.app/

Hi, @chrisguindon @jph152 @brianking @croundy
Could you pls provide the link for the button and logo?

And also does the style look good for you?

Thanks!
Yi

[2020-10-22 18:42] chrisguindon commented on #62
This looks great so far @flora8984461!

My only comment would be to change the color of the heading to be like this:

![Screen Shot 2020-10-22 at 2 42 21 PM](https://user-images.githubusercontent.com/893942/96915934-dd825480-1474-11eb-87b5-af9a7b05d43a.png)

[2020-10-22 20:02] jph152 commented on #62
Looks good! Agreed on the heading colour.

@flora8984461 here is the link for both the button and logo
https://docs.google.com/forms/d/e/1FAIpQLScudzvlUVfXehmz-Jkivv_BkJdljSjtZLENkT16jSxTzwzwkQ/viewform?usp=sf_link

[2020-10-23 13:01] croundy commented on #62
I am really liking it! Thanks @flora8984461 and @chrisguindon!

[2020-10-23 13:03] flora8984461 commented on #62
The change has been made. @brianking @chrisguindon @croundy @jph152
Since eclipseCon finished, pls add a featured story and footer before make it alive or it will be empty.
preview: https://deploy-preview-63--eclipsefdn-ecdtools.netlify.app/

Thanks!

[2020-10-23 13:13] jph152 commented on #62
@flora8984461 I just added a featured story/footer for ECD Tools.

[2020-10-23 13:19] flora8984461 commented on #62
@jph152 Thx.

it's showing now.

[2020-10-23 13:23] croundy commented on #62
Looks great @flora8984461.

[2020-10-23 17:34] chrisguindon commented on #62
@croundy @jp Can we push this live or do you need more time to finish the forms?

[2020-10-23 17:54] jph152 commented on #62
We're good to go live

[2020-11-03 15:19] brianking opened #65 "Changes to Projects Listing"
Some requested changes to https://ecdtools.eclipse.org/projects/.

- Add logos for projects using the generic Eclipse Incubation one
- Ensure logos have all the same dimentions, so that there is a consistent look in the listing
- Ensure all logos are transparent. Dirigible has a white background
- Change Incubating flag for projects such as Che, which are more mature
- Move dormant projects such a

[2020-11-03 15:21] brianking commented on #65
This one initially needs design work, for the first 3 logo related items listed.

[2020-11-04 13:53] chrisguindon commented on #65
We are already doing this? Am I missing anything?

![Screen Shot 2020-11-04 at 8 42 54 AM](https://user-images.githubusercontent.com/893942/98118878-dba79080-1e79-11eb-8259-5dead3ea827c.png)

The size ratio of each logo is different but they are all the same width on the page.

I think the best that we can in this situation is to wrap the logo in a square block which will give the illusion that th

[2020-11-04 16:41] brianking commented on #65
@chrisguindon Regarding projects using the incubation logo, a better of phrasing what I meant is:
"Swap in new project logos for projects using the generic Eclipse Incubation one".
I know this happens at the project level (and we can help resource it), so the first step is me consulting with projects.

[2020-11-04 17:06] waynebeaton commented on #65
I believe that the rule is that we use the incubation logo for projects that are (a) in the incubation phase and (b) don't have a logo of their own. I believe that, for a project in the mature phase that has no logo, we use a default "Eclipse circle" logo.

Whether or not a project has a [logo](https://www.eclipse.org/projects/handbook/#trademarks-project-logo) and what it looks like is a project

[2020-11-04 20:25] flora8984461 commented on #65
I have re-ordered the project list and add white background to logos to make them look neat.
Please check the preview: https://deploy-preview-66--eclipsefdn-ecdtools.netlify.app/projects/

Thanks!

[2020-11-05 11:00] brianking commented on #65
@flora8984461 Thanks for the changes, I think it looks better proportion-wise. I would prefer logos to have transparent backgrounds however, not white.

@waynebeaton Thanks for connecting with the Che team. Regarding logos, I will wait for the handbook updates before approaching people so I have something to point to.

[2020-11-05 13:07] chrisguindon commented on #65
Thanks @brianking,

my takeaway from this is that we should simply need us to deploy the change to the project list order ?

[2020-11-05 16:45] brianking commented on #65
@chrisguindon Given that the logo changes and the project flags need to be fixed in the DB, I would say yes that is the only change to deploy right now.

[2020-11-05 17:08] waynebeaton commented on #65
There was an implied question in my response.

What, specifically, do we want to ask? Transparency... check. Do we need to say anything specific about dimensions? e.g., do we want the image to be square? Do we want to specify a minimum size/resolution? What size?

[2020-11-05 17:17] waynebeaton commented on #65
Actually... never mind. The PMI currently states that it will scale images down to 200x200 pixels. So I'm thinking that the recommendation is to provide a 200x200 pixel image.

[2020-11-05 20:28] brianking commented on #65
Yes I'm not the best person to ask, some designer input might help. For this purpose, I think 200x200 is fine. It might be good to suggest that if their logo has a wordmark and has different dimensions, then having a complimentary version that is just a square logo is desired.

You should consider where else these images might be pulled in, and if any places require a higher-res version.

[2020-11-17 16:14] brianking opened #67 "Replace CA Technologies Logo with Broadcom Logo"
On the Members Page - https://ecdtools.eclipse.org/membership/ - swap in Broadcom logo for the CA Technologies one.

[2020-11-17 16:37] venkatzhub commented on #67
Please use the attached Broadcom logo replace the CA Tech one:

![Broadcom_Logo_Red-Black_no-tag](https://user-images.githubusercontent.com/33162229/99418569-c7738280-28c0-11eb-9423-2a2c873d9ec6.png)

[2020-11-24 21:57] #67 closed

[2020-11-25 15:03] flora8984461 commented on #67
Hello @brianking @venkatzhub , the change is updated and please check https://ecdtools.eclipse.org/membership/ . Just hope to double confirm, is only the logo we need to change, and the title does not need to be updated?  Thanks!

[2020-11-25 15:21] venkatzhub commented on #67
@flora8984461 - Thank you, the change looks good. The logo is the only one we need to change.

[2020-11-25 15:21] flora8984461 commented on #67
Thanks for the confirm!

[2020-11-25 15:22] brianking commented on #67
@flora8984461 What title are you referring to?

[2020-11-25 15:23] flora8984461 commented on #67
@brianking Hi, I refer to https://github.com/EclipseFdn/ecdtools.eclipse.org/pull/69/files , the title of the company's name. Thanks!

[2020-11-25 15:27] brianking commented on #67
I think the title should be changed too. But where is it used, i.e. is it user-facing? You can change the id as well once it doesn't break anything.

[2020-11-25 15:34] flora8984461 commented on #67
Thanks! Then I think it needs to be updated, since the title is used for `<img alt="">` which will be used by screen reader or when the img is not loading on the page, the alt text will show. The "id" is more used internally for us to loop the array like index, it's not harmful to change.  I will make the changes.

And the new title is "Broadcom"?

[2020-11-25 15:52] venkatzhub commented on #67
Ah, I see what you are saying. As @brianking said, not sure if that is user facing i.e I did a search on the page and I couldn't find CA Technologies, but changing that title if its not breaking anything would make it consistent. If you are changing the title I would suggest "Broadcom Inc."

[2020-11-25 18:47] excentrickristy opened #71 "Home Page Banner Buttons"
As a result of a discussion with Clark Roundy and to support the ECD Tools advertising campaign:
On the home page there are three buttons in the main banner, the last one is "Contribute to our projects". We would like to change this to "Developer Tools" and make it the first button in the row of three buttons. When you click on it, it should scroll the page down to stop right at the top of the mis

[2020-11-25 19:43] flora8984461 commented on #71
Hello @excentrickristy , please check the preview to see if this looks good to you: https://deploy-preview-72--eclipsefdn-ecdtools.netlify.app/

Thanks!

[2020-11-25 20:31] excentrickristy commented on #71
Perfect, thanks!

________________________________
From: Yi (Flora) Liu <notifications@github.com>
Sent: Wednesday, November 25, 2020 2:43:19 PM
To: EclipseFdn/ecdtools.eclipse.org <ecdtools.eclipse.org@noreply.github.com>
Cc: Kristy Smith <kristy@excentric.ca>; Mention <mention@noreply.github.com>
Subject: Re: [EclipseFdn/ecdtools.eclipse.org] Home Page Banner Buttons (#71)

Hello @excentrickrist

[2020-11-25 20:32] #71 closed

[2020-11-26 12:20] brianking commented on #71
@flora8984461 Not sure if it in the scope of this issue, but there is still one button that is not rounded and looks out of place. It is the 'Propose a Talk' button in the ECD Tool Time banner.

<img width="294" alt="Screenshot 2020-11-26 at 13 19 43" src="https://user-images.githubusercontent.com/114116/100350417-24bab280-2fea-11eb-82f2-4110815c837d.png">

[2020-11-26 19:04] flora8984461 commented on #71
@brianking

I found on mobile view the buttons are not rounded, is this by intent, or do you want me to fix them?

![image](https://user-images.githubusercontent.com/39588094/100385277-2ab39200-2ff0-11eb-8645-a187c10cad68.png)

[2020-11-27 17:20] brianking commented on #71
@flora8984461 Let's have the buttons consistent everywhere, so round on mobile as well.

[2020-12-01 08:31] JonasHelming opened #75 "SAP is not listed as a member on the first page"
On the first page under members, you only see Ericsson, IBM and RedHat. This is odd.
I also think we have enough space there to also list the participating members on the front page, but this is less important than listing SAP, cause I do not see any reason that SAP should not be there. It even still fits in one line

[2020-12-01 13:07] brianking commented on #75
Last time I checked we had a limit of 3 there and were going to rotate. Let me check again though, I agree all Strategic members should be there at least.

[2020-12-04 15:17] croundy opened #77 "Add Open VSX to ECD Tools projects"
We are planning to make the Open VSX (https://open-vsx.org/) transition to the Eclipse Foundation official on December 9th. With this in mind, we need to make sure it is added to the list of projects on the ECD Tools home page as well as the project page https://ecdtools.eclipse.org/projects 

It probably makes sense to add a reference to Brian's blog around this transition as well with a link to

[2020-12-04 15:56] chrisguindon commented on #77
@croundy Not sure if @waynebeaton just did the change but I can see them on the homepage and project page!

For the blog post, you can submit a request to https://newsroom.eclipse.org/node/add/news

Please make sure that you pick ECD tool in the publishing list.

[2020-12-04 16:05] croundy commented on #77
@chrisguindon yes, I see them there now. They are showing as incubation projects without the Open VSX logo. Can we at least add in the logo. The blog post is there now as well.

[2020-12-04 16:20] chrisguindon commented on #77
@croundy Yes that the default logo for a project in incubation. Committers should have access to upload a new logo.

[2020-12-04 21:38] chrisguindon commented on #77
@croundy closing this issue! Feel free to re-open if you need more help!

[2020-12-04 21:38] #77 closed

[2020-12-08 19:01] croundy opened #78 "New ECD Tools Logo"
Please update the jumbotron logos on each page with this new logo:
![ECD Tools Horizontal White (1)](https://user-images.githubusercontent.com/72274403/101528625-c75d2480-394c-11eb-9de5-6de56afb225b.png)

[2020-12-09 18:58] croundy opened #79 "Update ECD Tools mission statement and associated logo on the home page"
Please update the text on the home page under "Mission Statement":

Replace "Mission Statement" with "Our Mission" and add text below to read:

To define and build an ecosystem of best-in-class, vendor-neutral open-source web and cloud-based development tools, and to promote and drive the broad adoption of these tools.

and please update the logo with this:
![image](https://user-images.githubuserc

[2020-12-10 18:54] chrisguindon commented on #42
https://github.com/EclipseFdn/eclipsefdn-project-adopters is now our official home for adopters!

I will create a PR to get this project started. @flora8984461 I will expect you to take it over once the PR is up!

[2020-12-11 15:22] flora8984461 commented on #75
Sorry for the late, I just saw this on my list. So I update the limit to 4 to allow SAP showing on the home page like this preview:
https://deploy-preview-80--eclipsefdn-ecdtools.netlify.app/

Do you want to show more members or this is good? @brianking @JonasHelming

Thanks!

[2020-12-11 16:06] flora8984461 commented on #78
Hi @brianking @chrisguindon , Can I confirm about this? Thanks!

[2020-12-11 16:53] brianking commented on #75
I think the goal should be to show all Strategic Members there. Right now there are four, but we want that to grow. It won't grow fast, so we will open a new issue case by case.

[2020-12-11 16:59] brianking commented on #78
I can confirm.

As for changing it in other places, I would only do it where the specifications of the image are the same. If different, please wait for updated assets that we will have soon.

[2020-12-11 17:01] flora8984461 commented on #78
Thanks!

[2020-12-11 17:06] flora8984461 commented on #75
I can modify the shortcode to remove the limits and make it to be showing all Strategic members in this PR so that in the future we don't need to open a new issue if you like.

[2020-12-11 17:40] brianking commented on #75
That sounds good to me.

What do you think @croundy ?

[2020-12-11 17:48] croundy commented on #75
@brianking @flora8984461 it looks good with the 4 members and could easily accommodate another logo or 2 before looking too busy. That said, if we have more than 5-6, we may want to consider adding a scrolling carousel to show a few a time or something like that. For now, it's good.

One question: do we need to change the header from "Members" to "Strategic Members"

[2020-12-11 18:42] flora8984461 commented on #78
Hi,
Please check the preview here: https://deploy-preview-81--eclipsefdn-ecdtools.netlify.app/

Thanks!

[2020-12-11 18:52] flora8984461 commented on #79
Hello @croundy ,

Are you sure wan to use the logo with black background? It would be looking like this:

![image](https://user-images.githubusercontent.com/39588094/101942703-f1664f00-3bb7-11eb-9f0b-edc649553317.png)

I feel the black background does not really match the words's color... 🤔

[2020-12-11 18:55] flora8984461 commented on #79
Another question,
Do you want to add the new text to the last paragraph like the following?
![image](https://user-images.githubusercontent.com/39588094/101943029-72bde180-3bb8-11eb-81f4-8fd346a042df.png)

[2020-12-11 19:07] croundy commented on #78
@flora8984461 Looks good to me. Thank you!

[2020-12-11 19:09] croundy commented on #79
![image](https://user-images.githubusercontent.com/72274403/101944211-97f72380-3ba9-11eb-841c-f75182782d4d.png)

Strange....the background shouldn't be black. Uploading again as it should be on a white background

[2020-12-11 19:11] croundy commented on #79
@meKokabi can you please help with this? For some reason, this particular logo image gets uploaded with a black background, which should not be the case. Thank you!

[2020-12-11 19:16] meKokabi commented on #79
![ECD Tools Stacked Orange](https://user-images.githubusercontent.com/75500459/101944829-5a9b9180-3bbb-11eb-91c2-702f7d1eb634.png)
This is the png format of the logo. This should work!

[2020-12-11 19:18] flora8984461 commented on #79
Thanks @meKokabi !

@croundy Can you please help me to confirm where do you prefer to add the new text? In the last paragraph or should it be at the first? Thanks!

[2020-12-11 19:24] flora8984461 commented on #75
FYI: After a discussion here https://github.com/EclipseFdn/ecdtools.eclipse.org/pull/80#pullrequestreview-550466048, we decide to keep the "limit" logic there but set a big limit like 50.

Plus, let me know if you want to change the title? Thanks!

[2020-12-11 19:26] croundy commented on #79
Thanks @meKokabi

@flora8984461 The first 2 paragraphs should be removed completely. The font size of the text for the new paragraph can be increased and perhaps centered instead of left justified to fill in the space better

[2020-12-11 19:37] flora8984461 commented on #79
Hi @croundy ,
Please check the preview: https://deploy-preview-82--eclipsefdn-ecdtools.netlify.app/

Thanks!

[2020-12-11 19:56] croundy commented on #79
@flora8984461 Looks great....thank you!

[2020-12-11 20:16] chrisguindon commented on #42
We can now get started:
https://deploy-preview-83--eclipsefdn-ecdtools.netlify.app/

https://deploy-preview-83--eclipsefdn-ecdtools.netlify.app/adopters/ is empty seems we now need to find organizations that wished to become adopters of ECD tools project.

We also created an How to be listed page:
https://deploy-preview-83--eclipsefdn-ecdtools.netlify.app/adopters/how-to-be-listed-as-an-adopter/

[2020-12-11 20:41] #79 closed

[2020-12-11 20:42] #78 closed

[2020-12-14 10:21] brianking commented on #75
I'm agnostic on this, could be either.

[2020-12-14 15:38] croundy commented on #42
@chrisguindon @brianking this is a draft content page for the ECD tools web redesign. Please ignore any comments that don't make sense or apply to this particular issue. Please let me know if anything needs clarification. Thanks! https://docs.google.com/document/d/1hD4_gG1K9yKNNBphqsLSuI-qjw2pfSHPD8--T49TE2M/edit

[2020-12-14 15:46] chrisguindon commented on #42
Thanks!

Can you share this document with my team? @flora8984461 will be picking up this task from here!

[2020-12-14 15:46] flora8984461 commented on #42
Hi @croundy Can I have the access to the doc? My email is yi.liu@eclipse-foundation.org
Thanks!

[2020-12-14 15:53] croundy commented on #42
@flora8984461 @chrisguindon I have added you both to the doc. Thank you!

[2020-12-14 16:16] brianking commented on #42
I will reach out to some of our members to seed some entries.

Regarding the instructions at https://deploy-preview-83--eclipsefdn-ecdtools.netlify.app/adopters/how-to-be-listed-as-an-adopter/, in general they are fine for now and we can make another pass at content once it is live.

However, I have a few minor change requests:

1. "... you will need to make the following changes to the eclipsefdn

[2020-12-14 16:34] chrisguindon commented on #42
The list of projects associated with ECD Tools comes from this API:
https://projects.eclipse.org/api/projects?working_group=cloud-development-tools

[2020-12-14 18:40] #75 closed

[2020-12-14 18:56] flora8984461 commented on #42
I made a draft and the preview is:  https://deploy-preview-84--eclipsefdn-ecdtools.netlify.app/adopters/

https://deploy-preview-84--eclipsefdn-ecdtools.netlify.app/adopters/how-to-be-listed-as-an-adopter/

I wonder for the section (Adopter Quotes), I don't think we want to add this section in the adopters page where all adopters are listed? Do you want me to create a section on homepage? And how

[2020-12-15 11:51] brianking commented on #42
There are now a few PRs to get some ECD adopters for the listing:
https://github.com/EclipseFdn/eclipsefdn-project-adopters/pull/33
https://github.com/EclipseFdn/eclipsefdn-project-adopters/pull/36
https://github.com/EclipseFdn/eclipsefdn-project-adopters/pull/37

[2020-12-15 13:00] chrisguindon commented on #42
@brianking This is great news! Thanks for the update!

[2020-12-15 13:39] flora8984461 commented on #42
We have one merged adopter listing https://deploy-preview-84--eclipsefdn-ecdtools.netlify.app/adopters/

[2020-12-15 14:18] croundy commented on #42
Thank you @flora8984461. Great to see it starting to take shape! To your questions:

This is something to add later as it will require that we pull quotes, pictures, etc. from adopters. For now, let's get the page up and we can iterate once we have those assets..

Yes, they are all correct. Thank you!

With the contact link already lower down on the page, let's eliminate the first "Contact Us" as

[2020-12-15 15:27] flora8984461 commented on #42
@croundy Thank you for the info!
I have increased fontsize to 16px, the preview is updated:  https://deploy-preview-84--eclipsefdn-ecdtools.netlify.app/adopters/

Thanks!

[2020-12-15 15:39] chrisguindon commented on #42
Hi All,

I just want to post a note to make sure that we don't lose focus!

The expectation here is that we deliver a new adopters page similar to the one we created for iot.eclipse.org.

We can make some small adjustments on these pages for ecdtools as long as they are not too hard to implement and don't require significant changes to our new API.

Anything outside of that should not be considere

[2020-12-15 15:42] flora8984461 commented on #42
Then I think my current page is good to go if @croundy gives me +1?

[2020-12-15 15:43] chrisguindon commented on #42
@flora8984461 We definitely need a +1 but I think so!

@brianking @croundy Do you consider that we have any blockers for pushing this page live?

[2020-12-15 15:45] croundy commented on #42
@flora8984461 Looks good!

Would be nice to have a few more adopter before going live, but from my perspective the page looks ready to go.

One comment about how adopters are shown on the page: In addition to a logo, how easy is it to add the name of the product in which it is being used and a short description? Something like this:

**Red Hat OpenShift 4**
OpenShift is a family of containerizatio

[2020-12-15 15:56] chrisguindon commented on #42
We can wait until tomorrow to make this live.

I would say hard enough. For starters, we would need to change the current layout of the page. This will probably require a designer.

I also think we need to discuss how we want to manage these product descriptions. Is it a product per project or per adopter? Are we expected to display the same project description on IoT and ECDTOOLS if the same proj

[2020-12-15 16:12] croundy commented on #42
@chrisguindon I prefer to use the term "iterate" ;)

I like it and am good with it as is and we can "feature creep" later.....we are working with a designer and can build the other nice to haves into that process.

Thanks @flora8984461 for the help and the great work! +1

[2020-12-15 16:23] chrisguindon commented on #42
👍

I agree, I don't think we need to delay this page for those new features.

[2020-12-15 18:21] brianking commented on #42
FYI I opened recently https://github.com/EclipseFdn/eclipsefdn-project-adopters/issues/38 to start the discussion about adding more information to listings. This should not block release here, it is meant to start the conversation on how we can do it across all WGs.

+1 from me for release.

[2020-12-16 17:03] chrisguindon commented on #42
Great! Thanks @brianking

[2020-12-16 19:57] #42 closed

[2020-12-18 18:11] jph152 commented on #62
Can we replace the ECD Tool Time logo in the banner with the new "Cloud Tool Time" logo attached here?

![CloudTool (1)](https://user-images.githubusercontent.com/69642121/102646698-80ccae80-4132-11eb-8f31-64ab2af3b218.png)

[2020-12-18 18:17] chrisguindon commented on #62
@flora8984461 can you take a look whenever you get a chance?

[2020-12-18 19:15] flora8984461 commented on #62
The new preview is here: https://deploy-preview-85--eclipsefdn-ecdtools.netlify.app/

Thanks!

[2020-12-18 19:22] croundy commented on #62
@flora8984461 looks great! Thank you!

[2020-12-18 19:32] jph152 commented on #62
+1 thank you @flora8984461!

[2020-12-18 20:28] #62 closed

[2020-12-22 17:55] croundy commented on #62
@flora8984461 @chrisguindon can we make this go live? Thank you!

[2020-12-22 17:57] flora8984461 commented on #62
Hi @croundy , this is already live https://ecdtools.eclipse.org/. Please let me know if you can see the updates on your end. Thanks!

[2020-12-22 18:01] croundy commented on #62
@flora8984461 I still see the old logo. Must be a cached version....

[2020-12-22 18:03] flora8984461 commented on #62
Can you please try hard fresh on your browser?

[code]

[code]

Or you can try to open the page in an anonymous browser to see if it still shows old logo?

Thanks!

[2020-12-22 18:07] croundy commented on #62
@flora8984461 yeah, with a hard refresh it works. Is there a way to avoid this being an issue for future updates? Thanks and happy holidays to you and yours!

[2020-12-22 18:09] flora8984461 commented on #62
I'll talk with Chris about this issue.
Thanks & Happy holidays!

[2021-01-05 14:50] chrisguindon commented on #62
@flora8984461 The easier way to avoid this problem is to create a new image instead of replacing the old one. If the filename is new, it won't be cached!

[2021-01-07 18:57] meKokabi opened #86 "Replacing the New ECD Tool Logo with the old one"
Please replace the new ECD Logo with the old one (under working group section) on this page:  https://www.eclipse.org/artwork/

The new logo can be found here:  https://drive.google.com/drive/folders/1OlbisNQD7Sc5jjSDeqvvX4GNXkZJiped

![ECD Tools Logo Horizontal Orange](https://user-images.githubusercontent.com/75500459/103932575-0d460d80-50f0-11eb-9688-22a35bd903e1.png)

Thanks!
Mehrnaz

[2021-01-07 19:17] flora8984461 commented on #86
Hi @meKokabi
Please check the staging preview: https://staging.eclipse.org/artwork/
user: testuser
pass: plaintext

Please note that in the zip file, we also need updated logos. The following screenshot shows what is included. And you can also download it to see what other updated logos and formats we need for the zip.
![image](https://user-images.githubusercontent.com/39588094/103934097-66af3c00-

[2021-01-07 19:24] chrisguindon commented on #86
@flora8984461 Actually, this is something that our previous graphic designer was responsible for.

If the logo has changed, we should update all the versions!

@meKokabi Can you deliver a zip file with all the new logos so that we can drop it into the website, please?

[2021-01-07 19:56] meKokabi commented on #86
Hello,
it seems I do not have access to staging. Got access denied notification.

On Thu, Jan 7, 2021 at 2:17 PM Yi (Flora) Liu <notifications@github.com>
wrote:

[2021-01-07 19:58] meKokabi commented on #86
if possible, I believe the horizontal might have a better composition.
Thanks!

On Thu, Jan 7, 2021 at 2:56 PM Mehrnaz Kokabi <
mehrnaz.kokabi@eclipse-foundation.org> wrote:

[2021-01-07 20:13] meKokabi commented on #86
Sorry Please disregard my previous email. I was in a meeting and lost the
password and username that you provided me. I just checked the staging it
is good but if we can add some padding around the logo like other logos
that would be great. Thanks so kindly.
Best,
Mehrnaz

On Thu, Jan 7, 2021 at 2:58 PM Mehrnaz Kokabi <
mehrnaz.kokabi@eclipse-foundation.org> wrote:

[2021-01-07 22:18] flora8984461 commented on #86
Hi @meKokabi , thanks for your feedback. I have made a little adjustment. please take a preview of https://staging.eclipse.org/artwork/.

As Chris @chrisguindon mentioned, we might need a zip file of all the updated version of logos to serve as "download". Thanks!

[2021-01-08 01:32] meKokabi commented on #86
Hello,
The logo looks good on staging. Thank you.
Please find the attached zip folder including ECD logo in different
formats. Please let me know if you need any other materials.
Best,
M

On Thu, Jan 7, 2021 at 2:17 PM Yi (Flora) Liu <notifications@github.com>
wrote:

[2021-01-08 13:14] chrisguindon commented on #86
@meKokabi Where is the zip file?

[2021-01-08 13:16] meKokabi commented on #86
Hello. I have attached it to this email. Would you like me to save it in
Share Drive?

On Fri, Jan 8, 2021 at 8:14 AM Christopher Guindon <notifications@github.com>
wrote:

[2021-01-08 13:18] meKokabi commented on #86
https://drive.google.com/drive/folders/1ovJS3AhvJ6EMG4cxJ0c2M1XYT7tn7yM3

On Fri, Jan 8, 2021 at 8:16 AM Mehrnaz Kokabi <
mehrnaz.kokabi@eclipse-foundation.org> wrote:

[2021-01-08 13:21] meKokabi commented on #86
[ECD Tools Logo.zip](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/5787404/ECD.Tools.Logo.zip)

The zip file has been saved here:
https://drive.google.com/drive/folders/1ovJS3AhvJ6EMG4cxJ0c2M1XYT7tn7yM3

[2021-01-08 13:21] meKokabi commented on #86
Added to the issue as well.

On Fri, Jan 8, 2021 at 8:17 AM Mehrnaz Kokabi <
mehrnaz.kokabi@eclipse-foundation.org> wrote:

[2021-01-08 13:52] flora8984461 commented on #86
Thanks! @meKokabi I have updated zip file on staging, and it will be merged to prod soon!

I think it's probably you were replying github by email which causes it not showing your zip attachment for some reason.

[2021-01-08 14:05] meKokabi commented on #86
My apologies for causing inconvenience. Still learning the robes!

On Fri, Jan 8, 2021 at 8:52 AM Yi (Flora) Liu <notifications@github.com>
wrote:

--

Mehrnaz Kokabi

Creative Lead | Eclipse Foundation, Inc.
Eclipse Foundation <http://www.eclipse.org/>: The Community for Open
Innovation and Collaboration

[2021-01-11 14:55] flora8984461 commented on #86
This is live on https://www.eclipse.org/artwork/. Please check.
I am going to close this issue, if more changes are needed, please feel free to reopen.

Thanks!

[2021-01-11 14:55] #86 closed

[2021-01-11 15:00] meKokabi commented on #86
Appreciated! Looks good!

On Mon, Jan 11, 2021 at 9:56 AM Yi (Flora) Liu <notifications@github.com>
wrote:

[2021-01-18 18:09] flora8984461 opened #88 "[IE compatibility](only on IE) Similar issue with Project list as in IOT"
SCRIPT438: Object doesn't support property or method 'find'
projects.min.js (1,1056)

I have tried with core-js@3.8.0 and add it to babel config, seems not working, I will look at this later.

Actually, for this one, the IE err is a little bit different from IOT, which causes never successfully loaded. I submitted a patch to fix it.

![image](https://user-images.githubusercontent.com/39588094/1058

[2021-01-22 21:35] chrisguindon commented on #88
I agree! If we can fix it in one place, it will work on the other site...

[2021-02-03 19:21] chrisguindon opened #91 "[redesign-2021] - ECD Tools Website Refresh"
This is a top-level bug for tracking the ECD Tools Website Refresh project.

This bug will be used to post updates about the project and discuss top-level issues.

The plan is to breakdown this project into smaller issues. I plan on creating these new issues in the next few days.

Design File:
https://www.dropbox.com/s/uu2ilbtrguehpy7/EXC201007_Eclipse_Cloud_Website_Rev12.xd?dl=0

Navigation:
http

[2021-02-03 19:53] chrisguindon opened #92 "[redesign-2021] - Update Website Template"
As previously noted, the new design is available here:
https://github.com/EclipseFdn/ecdtools.eclipse.org/issues/91

**Deliverables:**

- [x] Implement default styles for header & footer
- [x] Default styles for content (h1-h6, p, ul, li, ...)

The footer section of this site will include more than one repeatable section:

- [x] Webinar Series
- [x] Quotes
- [x] Join our Mailing-lit
- [x] Eclipse

[2021-02-26 13:47] hudsonkelly83 opened #93 "Change events section layout on https://ecdtools.eclipse.org/ home page"
In the events section of https://ecdtools.eclipse.org/ the events seem to be displayed in order beginning from the furthest date in the future (below)

![image](https://user-images.githubusercontent.com/70344546/109307416-9cc58e00-780e-11eb-9a48-2827b664696b.png)

If possible, we would like to change this so that it displays the events that are the nearest in the future so we are always showcasing

[2021-02-26 18:03] flora8984461 commented on #93
Hi @hudsonkelly83 , Do you want me to use exact the same layout as jakartaEE? (events in a row) Or just changing the order is fine?

I have an initial preview: https://deploy-preview-94--eclipsefdn-ecdtools.netlify.app/

Thanks!

[2021-02-26 18:08] hudsonkelly83 commented on #93
@flora8984461 just changing the order how you have done in the preview is great. Thanks Yi!

[2021-02-26 19:03] #93 closed

[2021-03-01 15:47] JonasHelming opened #95 "Interesting Reads / Articles / Information page"
The current ways to share related articles, videos, etc are : News feed, recent articles and the "interesting reads" section.
All three are rather unstructured and the first two are "rolling". The "interesting reads" is limited to 5 links.

I believe in the meantime, we have enough content out there to create a community maintained page to add related resources (articles and videos) about ECDTools

[2021-03-01 18:48] autumnfound commented on #95
Are you imagining something like the [IoT resources](https://iot.eclipse.org/community/resources/) or [Jakarta.EE resources](http://jakarta.ee/resources) section? Or something more complex than either implementation?

[2021-03-01 19:11] JonasHelming commented on #95
Yes, yes, yes! :-)
I think I would prefer the Jakarta one, because it would allow topic sections with more than 3 entries.
Is this kind of page already in the Hugo template? If so, I could prepare a contribution

[2021-03-01 19:25] autumnfound commented on #95
The Jakarta EE site is actually the most simple version, as its just a markdown page!

[2021-03-05 17:53] JonasHelming commented on #95
Yeah, sounds good, I will prepare a contribution.

[2021-03-05 19:57] hudsonkelly83 opened #96 "Cloud IDE Day Event Landing Page"
The ECD Tools WG will be putting on Cloud IDE Day, a new event on May 19. They would like an event landing page created off of the ecdtools.eclipse.org page.

Here is the website content form: https://docs.google.com/document/d/1tV37AISjLhP1wsUpyEKAFAVIgzTfjU98Z-_SxMgPfno/edit#

Here are the images for the program committee
[Program Committee.zip](https://github.com/EclipseFdn/ecdtools.eclipse.org

[2021-03-05 20:10] chrisguindon commented on #96
@hudsonkelly83,

Can you work with @meKokabi to provide graphics for the jumbotron and alternative section on the page.

Please take a look at this page if you are wondring what those images are:
https://events.eclipse.org/2021/saam-mobility/

Jumbotron:
https://events.eclipse.org/images/saam-mobility-2021-middle.jpg?e9b7e27992c909e2588b6f0cb873242f

Alternate section:
https://events.eclipse.org/i

[2021-03-05 20:38] hudsonkelly83 commented on #96
Will do Chris. Here is a better version of the logo (I hope)
[ECD Tools SVG Cloud IDE Summit.zip](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/6093253/ECD.Tools.SVG.Cloud.IDE.Summit.zip)

Let me know if not

[2021-03-08 19:07] flora8984461 commented on #96
Hi @hudsonkelly83

Please check the preview: https://deploy-preview-97--eclipsefdn-ecdtools.netlify.app/events/idesummit/2021/

I am not sure if you want  to use program committee like speakers in this event: https://events.eclipse.org/2020/open-source-ai-workshop/,

Or you prefer to use the program committee like this: https://jakartaone.org/2021/russian/ ?

[2021-03-08 19:16] flora8984461 commented on #96
btw @hudsonkelly83 Can you help me compress the logo in the zip ECD Tools SVG Cloud IDE Summit.zip? Since it's over 200kb, we hope to have it smaller than 50kb or 100kb. It's okay if it cannot. Thanks!

[2021-03-08 19:54] hudsonkelly83 commented on #96
Hey Yi, I can get the svg down to 80 kb. Let me know if that can work.
[ECD Tools SVG Cloud IDE Summit (1).zip](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/6103778/ECD.Tools.SVG.Cloud.IDE.Summit.1.zip)

The site looks great. I am just waiting on Mehrnaz to finalize the images for the jumbotron and alternate banners and I will post them here.

If you could do the program committee imag

[2021-03-08 22:14] flora8984461 commented on #96
Hi @hudsonkelly83
Thanks for your feedback. I just updated the preview, please check: https://deploy-preview-97--eclipsefdn-ecdtools.netlify.app/events/idesummit/2021/

waiting for the images. Thanks!

[2021-03-09 12:27] brianking commented on #96
Looks great so far. Just one nit, I suggest centering the Program Committee images.

[2021-03-09 16:18] hudsonkelly83 commented on #96
@flora8984461 here are the jumbotron image and alternate... Also included is a mock of how the jumbotron should look, just note the main title should be 'Cloud IDE Day'

Please send us a preview so we can get program committee approval before publishing
[Jumbotron.zip](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/6109878/Jumbotron.zip)

[2021-03-09 19:50] flora8984461 commented on #96
Hi @hudsonkelly83 @brianking

I have centered the committer section.

And the preview: https://deploy-preview-97--eclipsefdn-ecdtools.netlify.app/events/idesummit/2021/

For the jumbotron bg, there is some issue with accessbilities that Martin has mentioned here https://github.com/EclipseFdn/eclipse.org/issues/7#issuecomment-794306053

The position of the white block and the heading can be differe

[2021-03-09 20:28] meKokabi commented on #96
Hi Yi, please use this banner
![8](https://user-images.githubusercontent.com/75500459/110533584-22d5b480-80ec-11eb-9865-4b7f9a68e7cf.jpg)

[2021-03-09 20:30] meKokabi commented on #96
Please make the H1 white larger size, H2 orange, and Third line May 19 black

[2021-03-09 20:48] chrisguindon commented on #95
Thanks, I will assign the issue to you to stop someone from picking this up!

[2021-03-09 20:55] hudsonkelly83 commented on #96
Hi @flora8984461 could you actually just make the program committee background section white and use the alternate banner for the 'Stay Connected' section? Thank you!

[2021-03-09 21:01] meKokabi commented on #96
Hi @flora8984461 and @hudsonkelly83  hold on I am working on a better image.
<img width="897" alt="alternate image" src="https://user-images.githubusercontent.com/75500459/110537482-bad59d00-80f0-11eb-9060-59f5db1c7db8.png">

[2021-03-09 21:03] meKokabi commented on #96
Please make all the banner texts bold

[2021-03-09 21:56] flora8984461 commented on #96
So this one is for header background?
![image](https://user-images.githubusercontent.com/39588094/110543323-296a2900-80f8-11eb-8379-7e90661092e0.png)

And this darker one for alternatives for 'Stay Connected' section?
![image](https://user-images.githubusercontent.com/39588094/110543353-36871800-80f8-11eb-8039-77b78be9c3d0.png)

Thanks!

And make all the section's text bold like in the header?

[2021-03-09 22:00] flora8984461 commented on #96
Here is a preview of using the alternate banner for the 'Stay Connected' section.
![image](https://user-images.githubusercontent.com/39588094/110543874-df357780-80f8-11eb-85f6-bc7fb307ba3e.png)

[2021-03-09 22:26] flora8984461 commented on #96
And I made another trial with the new alternative background Mehrnaz shared, please check:

https://deploy-preview-97--eclipsefdn-ecdtools.netlify.app/events/idesummit/2021/

Should I make all the titles bold? @meKokabi like "Call for Papers", "Organized by" and "Program Committee" ?

Thanks!

[2021-03-10 02:04] meKokabi commented on #96
Can you please fix the line spacing : The IDE summit...  and the date....
line spacing are not even. Also please fix the padding of the H1 and make
it 5-10 px less than what it is now. Thanks!

On Tue, Mar 9, 2021 at 5:26 PM Yi (Flora) Liu <notifications@github.com>
wrote:

[2021-03-10 14:04] flora8984461 commented on #96
@meKokabi Thanks. But I think it is less accessible for the date in black text.

![image](https://user-images.githubusercontent.com/39588094/110640991-76451280-817f-11eb-8878-cb4dc9921dcf.png)

[2021-03-10 14:06] meKokabi commented on #96
Morning Yi, Please just make the date white and its good to go!

[2021-03-10 14:11] flora8984461 commented on #96
Thanks.

The updated preview is https://deploy-preview-97--eclipsefdn-ecdtools.netlify.app/events/idesummit/2021/

@hudsonkelly83 @meKokabi  Just to make sure if everyone is good with it?

Thanks!

[2021-03-10 14:13] meKokabi commented on #96
It is Ok for me! Thanks!

[2021-03-10 14:22] hudsonkelly83 commented on #96
Thank you both! We are just waiting on program committee approval before pushing it live. I will let you know when they approve!

[2021-03-11 20:20] hudsonkelly83 commented on #96
Hello @flora8984461 the program committee gave a number of edits.

1: Please update the main banner and alternate banner to these files
[CloudIDEDayBanners.zip](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/6125038/CloudIDEDayBanners.zip) (The PC wanted something more friendly looking)

2: Please change the 'Call for Papers' buttons and title to 'Propose a Topic'

2a: Please update the

[2021-03-11 20:32] flora8984461 commented on #96
Hi @hudsonkelly83 @meKokabi I just checked the new banner images, they are white and I am afraid the accessibilities will be affected. Just hope to have some advice on what colors should I use for the text?

[2021-03-11 20:54] hudsonkelly83 commented on #96
Hi @flora8984461 I think dark blue like in the ECD Tools logo #2C2255 for the title and the date, and orange for the rest of the banner text would work. Let me know if not.

[2021-03-11 21:13] flora8984461 commented on #96
Hi @hudsonkelly83
Please check the preview: https://deploy-preview-97--eclipsefdn-ecdtools.netlify.app/events/idesummit/2021/

I think the dark blue and the orange are good. And I used  the dark blue  for the "Stay connected" section as well.

Thanks!

[2021-03-12 13:57] hudsonkelly83 commented on #96
Looking great Yi!

2 more changes and when complete, please publish:

1: Please change the 'Call for Papers' section title to 'Propose a Topic' and change the button in that section 'Propose a Topic' as well

2: Please remove the 'Propose a Topic' button in the first section completely - the site is short enough we should not need to add that navigation ability.

Also, it does look like the center

[2021-03-12 14:24] flora8984461 commented on #96
Hi, @hudsonkelly83 thanks for your feedback!
Actually, I do find a little bit weird of the centering, and it's caused by `Organized by` section. I made some adjustments, please check the preview: https://deploy-preview-97--eclipsefdn-ecdtools.netlify.app/events/idesummit/2021/

Thanks!

[2021-03-12 14:29] hudsonkelly83 commented on #96
Looks great Yi! please publish

[2021-03-12 16:52] #96 closed

[2021-03-12 16:59] flora8984461 commented on #96
Hi @hudsonkelly83, the site is live, please check: https://ecdtools.eclipse.org/events/idesummit/2021/

Thanks!

[2021-03-16 17:40] hudsonkelly83 opened #99 "Update Cloud IDE Time to end at 12:00 PM PST"
Hello, please change the time on of Cloud IDE Day (https://ecdtools.eclipse.org/events/idesummit/2021/) to

May 19, 2021 8AM-12PM PST (5PM-9PM CET)

[2021-03-18 14:08] brianking opened #100 "Add Arm to Members Page"
Arm is now a Participant Member of the ECD Tools WG.

Please add them to the members page:
https://ecdtools.eclipse.org/membership/

[2021-03-18 14:09] brianking opened #101 "Add STMicroelectronics to Members Page"
STMicroelectronics is now a Participant Member of the ECD Tools WG.

Please add them to the members page:
https://ecdtools.eclipse.org/membership/

[2021-03-18 18:17] ericpoirier commented on #65
Aside from the PR that @chrisguindon created, is there anything else to be done for this issue?

[2021-03-18 20:06] brianking commented on #65
The main thing that stands out to me when I look at that page is the icons don't look consistent. Some are wide and short, while others have the same width but are much taller. Some have wordmarks, some don't. It would be nice to have consistency of size in the DB, if they are being pulled from there.

However, given we'll be redesigning the site soon, I don't think it's worth investing any more t

[2021-03-18 20:50] chrisguindon commented on #65
+1 I am fine with closing this issue. I will create a new one that will be specific to the re-design.

[2021-03-18 20:50] #65 closed

[2021-03-26 15:28] autumnfound commented on #101
See https://deploy-preview-102--eclipsefdn-ecdtools.netlify.app/membership/ for added member logo

[2021-03-26 15:29] autumnfound commented on #100
See https://deploy-preview-102--eclipsefdn-ecdtools.netlify.app/membership/ for added member logo preview

[2021-03-26 15:30] autumnfound commented on #99
See https://deploy-preview-102--eclipsefdn-ecdtools.netlify.app/events/idesummit/2021/ for updated event time!

[2021-03-26 15:46] brianking commented on #101
Thanks @autumnfound . Are these logos pulled from our members DB?

[2021-03-26 15:47] brianking commented on #101
In general it looks good, but I wonder if there is a version of the ST logo without the 'life.augmented' tagline?

[2021-03-26 15:47] autumnfound commented on #101
No, these are pulled directly from the members' site and saved locally.

[2021-03-26 15:51] autumnfound commented on #101
From their site, there is no provided media assets that I can find, and that is the best logo on their site. The only logo that matches what you are looking for (and to be honest, I looked for that one too), was half the size we needed. Displayed on the site it would have been gross and blown out.

[2021-03-26 17:02] brianking commented on #101
Ok good to check in for now. Once live, I will circle back with them to see if they want to replace it with something else.

[2021-03-26 17:04] brianking opened #103 "Two Changes to Members Page"
2 fixes:

1. Remove the Windriver logo, they are no longer a member
2. Apply some padding around logos, the logo proximity seems a little tight

[2021-03-26 17:04] brianking commented on #103
@autumnfound As you already working in the page, I hope it's ok to assign to you.

[2021-03-26 17:35] autumnfound commented on #103
Changes available for preview on same page as other issues: https://deploy-preview-102--eclipsefdn-ecdtools.netlify.app/membership/

[2021-03-26 17:43] brianking commented on #103
Thanks, LGTM!

[2021-03-26 19:02] #99 closed

[2021-03-26 19:02] #100 closed

[2021-03-26 19:02] #101 closed

[2021-03-26 19:02] #103 closed

[2021-03-30 17:32] chrisguindon opened #104 "[redesign-2021] - Homepage"
As previously noted, the new design is available here:
#91

Homepage:
https://projects.invisionapp.com/share/5C10DOVC3QTG#/screens

**Deliverables:**

- [x] Jumbotron
- [x] Powered by participation section
- [x] Webinar Series Section
- [x] Featured Projects
- [x] What's new?
- [x] Open Source Community-driven Collaboration // Highlights
- [x] Members

[2021-03-30 17:39] chrisguindon opened #105 "[redesign-2021] - About"
As previously noted, the new design is available here:
#91

About:
https://projects.invisionapp.com/share/5C10DOVC3QTG#/screens/446432551

**Deliverables:**

- [x] Jumbotron
- [x] Our mission
- [x] About the ECD WG
- [x] FAQ

[2021-03-30 17:44] chrisguindon opened #106 "[redesign-2021] - Project List page"
As previously noted, the new design is available here:
#91

Project:
https://projects.invisionapp.com/share/5C10DOVC3QTG#/screens/446432551

**Deliverables:**

- [x] Jumbotron
- [x] Projects with learn more button
- [x] List of projects with filter

[2021-03-30 17:50] chrisguindon opened #107 "[redesign-2021] - Adopters page"
As previously noted, the new design is available here:
#91

Adopters:
https://projects.invisionapp.com/share/5C10DOVC3QTG#/screens/446432552

**Deliverables:**

- [x] Jumbotron
- [x] Adopters with Get listed link
- [x] List of adopters

We currently only capture the logos of our adopters. This is being discussed via https://github.com/EclipseFdn/eclipsefdn-project-adopters/issues/38

The descripti

[2021-03-30 17:53] chrisguindon opened #108 "[redesign-2021] - Membership page"
As previously noted, the new design is available here:
#91

Membership:
https://projects.invisionapp.com/share/5C10DOVC3QTG#/screens/446432556

**Deliverables:**

- [x] Jumbotron
- [x] Membership with Join Now button
- [x] Membership
- [x] List of members
- [x] Testimonials by member

[2021-03-30 17:59] chrisguindon opened #109 "[redesign-2021] - Resources (Video, Blog and News & Events)"
As previously noted, the new design is available here:
#91

Video:
https://projects.invisionapp.com/share/5C10DOVC3QTG#/screens/446432559

**Deliverables:**
The plan here is to re-use the layout that was created for the video & webinars page for the blog and news and event pages.

- [x] Jumbotron
- [x] Video/Blog/News&Events with learn more button
- [x] List of resources (Video/Blog/News&Events)

[2021-03-30 18:01] chrisguindon opened #110 "[redesign-2021] - Resources > Community"
As previously noted, the new design is available here:
#91

Community:
https://projects.invisionapp.com/share/5C10DOVC3QTG#/screens/446432553

**Deliverables:**

- [x] Jumbotron
- [x] Community with join the community button
- [x] Content pane with 3 columns

[2021-03-30 18:08] chrisguindon opened #111 "[redesign-2021] - open-vsx project page"
As previously noted, the new design is available here:
#91

open-vsx project page:
https://projects.invisionapp.com/share/5C10DOVC3QTG#/screens/446432557

**Deliverables:**

The data must be fetched from our API:
https://api.eclipse.org/#tag/Projects

We will need to determine what data is missing from our API and implement those changes. We don't want to manually update this page.

- [x] Jumbotro

[2021-03-30 18:14] chrisguindon commented on #91
@brianking and Clark,

I broke down the website re-design into smaller deliverables:
https://github.com/EclipseFdn/ecdtools.eclipse.org/projects/2

 Can you please review our issues and let us know if we forgot anything important.

Please feel free to add more information on each issue! I hoping that we can start implementing this project in April.

[2021-03-30 18:14] chrisguindon commented on #106
I expect all projects to link to the PMI website. However, the only exception to this rule is open-vsx.org project. The design team created a custom page for it and will create it via this issue: https://github.com/EclipseFdn/ecdtools.eclipse.org/issues/111

[2021-03-30 18:16] chrisguindon commented on #91
@ericpoirier Can you review the design files and let us know if you need anything else from excentric?

[2021-03-30 18:37] ericpoirier commented on #91
From what I can see, they have only provided an .xd file which I don't have the software the open.

It would be preferable to get all the graphical elements in either jpg or png format. I'm thinking things like: background images, icons, pictures and logos. I don't think we need jpg or png files for elements that are reproducible in CSS.

Also it would be good to know the Font that they used.

[2021-03-30 18:39] chrisguindon commented on #91
@excentrickristy is this something that your team can provide?

[2021-03-30 18:40] chrisguindon commented on #91
@ericpoirier Is it correct for me to assume that we would be to buy you a license for https://www.adobe.com/ca/products/xd.html to work with these files?

[2021-03-30 18:46] ericpoirier commented on #91
From what I understand, it's not possible to open XD in Photoshop which is what I currently have.

[2021-03-30 18:51] chrisguindon commented on #91
@ericpoirier I understand. Let's see if it's possible for  @excentrickristy to export all the images for us. If not, I will look at getting you a license for it.

Another solution might be to ask @meKokabi.

@meKokabi,

is it possible for you to export all the images that we need to implement this redesign?
https://www.dropbox.com/s/uu2ilbtrguehpy7/EXC201007_Eclipse_Cloud_Website_Rev12.xd?dl=0

[2021-03-30 19:52] chrisguindon commented on #91
@meKokabi Thanks for the info! I will reach out to @excentrickristy and see what they can do about that!

[2021-03-30 19:53] meKokabi commented on #91
My pleasure!

On Tue, Mar 30, 2021 at 3:52 PM Christopher Guindon <
***@***.***> wrote:

[2021-03-30 23:41] meKokabi commented on #91
@chrisguindon @ericpoirier @shanda-eclipse  Kristy is absolutely right, I am a heavy XD user, and love the platform. however as you notice you need to export the assets one by one and for a large file like this with at least thousands of layers....?😳 the professional practice would never suggest XD for the final deliverable.
But no worries,😊 I've done it. Exported and categorized assets to subfold

[2021-03-30 23:59] meKokabi commented on #91
Here is the images folders:
[images1.zip](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/6232840/images1.zip)
[banners. A 2.zip](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/6232843/banners.A.2.zip)
[banner B.zip](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/6232846/banner.B.zip)
[images 3.zip](https://github.com/EclipseFdn/ecdtools.eclipse.org/files/6232863/image

[2021-04-01 12:15] hudsonkelly83 opened #112 "Update Cloud IDE Day Page for Registration"
Please make the following changes to the Cloud IDE Day landing page: https://ecdtools.eclipse.org/events/idesummit/2021/

1: Please add a 'Registration' button immedately below the date and time in the first section of the page. Link to registration is https://eclipse.zoom.us/webinar/register/WN_ZtvJ8bioQOGhoxhYpn5jsg

2: Delete the content in the current 'Propose a Topic' section and update it to

[2021-04-06 16:46] brianking commented on #112
Please keep the 'Propose a Topic' section in for now. The registration button and new suggested section can still be added.

[2021-04-06 21:09] chrisguindon commented on #91
Excentric send me an email on the 31 with the latest design:
https://www.dropbox.com/s/6jx9kr94a1pqova/EXC201007_Eclipse_Cloud_Website_Rev13.xd.zip?dl=0

@shanda-eclipse My understanding is that we will need @meKokabi to work on the files before we can get started on the site.

[2021-04-07 14:23] JonasHelming opened #115 "Collapse items to save width"
In case we want to support a screen width of 800px or less, we should think about collapsing items in the header. I personally think 1024 is the absolute minimum we should consider, but opening this for discussion.
800px:
![image](https://user-images.githubusercontent.com/1052615/113882347-828fb000-97bd-11eb-94a1-ea69fb33e467.png)

[2021-04-08 16:15] croundy commented on #112
Do we have an ETA on this? Registration is live and we are starting to promote. Thanks!

[2021-04-08 16:21] chrisguindon commented on #112
This is scheduled for next week.

We ask for two weeks since we do have competing priorities and my team is down 1:
https://github.com/EclipseFdn/events.eclipse.org#request-an-event-website

Please plan for a minimum of two weeks for the website implementation. Additional information is available in the Event Website Content Template document.

[2021-04-08 16:45] croundy commented on #112
thanks @chrisguindon. As always, appreciate the great work from you and your team!

[2021-04-08 16:54] brianking commented on #112
@chrisguindon Would it speed things up if I made a PR for this? i.e. would it be reviewed in a shorter timeframe?

[2021-04-08 16:57] autumnfound commented on #112
I made a PR for this already, just throwing the content in as a quick try. The list items look a little odd, and I'm not sure if you wanted a list or just different paragraphs. Preview is on https://deploy-preview-117--eclipsefdn-ecdtools.netlify.app/events/idesummit/2021/

[2021-04-08 17:01] brianking commented on #112
Thanks @autumnfound . I wonder how it would look if everything except the button in the 'Propose a Topic' section was left aligned, whether it would disrupt the balance of the page? Bullets would probably look better that way.

[2021-04-08 17:04] chrisguindon commented on #112
This is my bad. I was under the impression this was an event website creation request.

I don't expect website text changes to take 2 weeks.

[2021-04-08 18:17] autumnfound commented on #112
The left aligned would look better for that section, but the page wouldn't feel balanced, as the rest of the page is center aligned.

[2021-04-09 13:56] croundy commented on #112
Let's change the "Propose a Topic" at the top of that section to "Join the Conversation"

Next, how would it look if we use all caps for the "WHAT:" "WHY:" and "WHO:" and move them to the left of each of the descriptions and right justify them? The descriptions could then perhaps be left justified with plenty of space (either a long tab or separate column) and the entire section centered.

Finally

[2021-04-09 14:55] chrisguindon commented on #115
We are planing to re-design the site this quarter and the menu is changing:

[2021-04-09 15:13] chrisguindon commented on #115
We are planning to re-design the website in Q2:
05a5ad737ff2400a509e05f--eclipsefdn-react-members.netlify.app

We could move events under resources now, like on the mockups.

[2021-04-09 15:45] autumnfound commented on #112
I made an update that I believe covers your ask, same page as before. For the list, I played around with the bullets but it was always weirdly placed, so I removed them to remove the weird disjointed nature of the bullets. WDYT?

[2021-04-09 15:58] croundy commented on #112
@autumnfound, that looks great! Thank you! Let's push it live.

[2021-04-09 18:32] brianking commented on #112
LGTM as well, though I would suggest 2 minors changes:

* Add a semi-colon after the text 'Topics to be Discussed Include'
* Add a tiny bit of spacing under that same text

[2021-04-09 19:29] autumnfound commented on #112
For spacing did you mean like this? https://deploy-preview-117--eclipsefdn-ecdtools.netlify.app/events/idesummit/2021/

[2021-04-09 19:39] croundy commented on #112
I think he meant a colon after the "Topics to be Discussed Include"

For the spacing, the amount of space after the title looks good. The space after each topic could be reduced by 25% or so.

[2021-04-09 19:46] autumnfound commented on #112
Updated!

[2021-04-09 19:50] croundy commented on #112
Looks great! Let's close this out and send it live! Thanks Martin!

[2021-04-09 20:25] #112 closed

[2021-04-15 11:28] brianking commented on #56
We don't need this anymore as Slack has brought back invitation links that never expire.

[2021-04-15 11:28] #56 closed

[2021-04-15 11:32] brianking commented on #50
I see this was solved via the 'Stay Connected' section.

@chrisguindon Given the redesign is coming, I'm ok with this being closed now.

[2021-04-15 11:34] brianking opened #118 "Footer LinkedIn link is broken"
There doesn't appear to be a url assigned to the LinkedIn button in the site footer.

On hover the url shows as a site anchor link and does nothing when clicked.

[2021-04-15 11:38] brianking opened #119 "Community Page Content Updates"
I'm making some changes to the Community page to add some updated information, including:

- Layout: Removing the jumbotron header, as the content needs to be front and center
- Adding information about project IM channels
- More information about our events
- Changing to new 'Eclipse Cloud DevTools' terminology throughout

[2021-04-15 13:36] chrisguindon commented on #50
Great! Thanks @brianking

[2021-04-15 13:36] #50 closed

[2021-04-23 13:32] autumnfound commented on #118
I've made a patch to address this issue, you can see the preview here: https://deploy-preview-121--eclipsefdn-ecdtools.netlify.app/. I've linked to the ECD Tools showcase, does that work?

[2021-04-23 14:55] brianking commented on #118
WFM, though I would change the link to https://www.linkedin.com/showcase/ecd-tools/.

[2021-04-26 15:33] ericpoirier commented on #91
Updated designs have been provided to us. I added them to the Drive[1] and went through the provided PDF to check what changed and what assets would need to be re-exported as images for web.

@meKokabi Can you have a look at the following list and export the updated elements? Thanks.

Here is a list of the assets that will need to be re-exported from the updated design:

**Home page**
- Whats new

[2021-04-27 13:01] #118 closed

[2021-04-27 13:40] ericpoirier commented on #91
Mehrnaz added the new files at the following location:
https://drive.google.com/drive/folders/1PvHgU3lHBi6ORNnCNoNrvB3qxhlunhFB

[2021-04-29 09:42] meKokabi commented on #91
Hello.
The requested new files have been uploaded and stored here:
https://drive.google.com/drive/folders/1PvHgU3lHBi6ORNnCNoNrvB3qxhlunhFB

On Tue, Apr 27, 2021 at 9:40 AM Eric Poirier ***@***.***>
wrote:

[2021-05-04 09:24] mbarbero opened #123 "Remove travisci"
AFAICT, Travis CI is not used anymore. It should be removed.

[2021-05-05 18:51] ericpoirier commented on #104
Hi,

Currently working on the redesign of the home page and i'm now looking at the What's new section. Just to make it clear, i'm going to display the most recent items news, blog, video and event items in that section. The 4 sections and their icons will be hardcoded but their content will be more dynamic.

Also for the Mailing List section, we are currently not using a form to add new emails to

[2021-05-06 15:17] croundy commented on #104
@ericpoirier You've got the right idea on the "What's New" section. No concerns about handling the mailing list as you describe. Thanks!

[2021-05-06 15:31] #119 closed

[2021-05-07 18:35] ericpoirier commented on #104
Hi guys (@croundy @brianking),

Here is a preview of where i'm at with the home page.

https://deploy-preview-124--eclipsefdn-ecdtools.netlify.app/

I think I'm pretty close to be done with the home page. Keep in mind that I didn't really look at the mobile view yet but if you have any feedback, please feel free to let me know.

Let me know what you guys think, if you have any concerns or changes

[2021-05-07 20:15] croundy commented on #104
@ericpoirier coming along nicely. A few minor things that I noticed:

1. Jumbotron. If possible, would like "Open Source" to be part of the 2nd line of text
2. Rotating banner: Minor nit.... the word "talk" is on its own line.
3. Thinking that the View all Projects button should be directed at the Projects page, rather than show all projects on the home page
4. The "What's New" section references

[2021-05-10 11:03] brianking commented on #104
I tried in responsive design mode, and there are some issues. The major ones are:

- main sections images are not responsive, you just see the left section of an image
- bad wrapping / alignment in Webinar Series section
- not enough padding around some buttons when staked over each other, e.g. 'Register Now' and 'Join the Conversation'
- poor alignment of head-shot image and title/name in Project

[2021-05-14 13:59] ericpoirier commented on #91
As I was working on the redesign of the home page, we decided this week that it would be a good idea for me to create a schedule of when I would create the different pages.

Here is the schedule I created for myself to give you an idea of the progress:
https://docs.google.com/document/d/1uPtH0miKIwVSjCLuhwHSewiGi_VtSWBv57Nnun4WriY/edit

Let me know if you have any questions.

Thanks!

[2021-05-14 18:58] hudsonkelly83 opened #125 "Add Agenda to Cloud IDE Day Page"
Hello,

Please add an agenda to the Cloud IDE Day Page. This section can replace the 'Topics to be Discussed Include' section

Title | Speaker | Moderator | Start Time (PDT/EDT/CEST)
-- | -- | -- | --
Introduction  | Tim deBoer, Brian King |  | 08:00 / 11:00 / 17:00
The Future of Cloud Development is Editor Neutral (and why development has remained local for so long) | Kyle Carberry | Brian King |

[2021-05-17 11:29] brianking commented on #91
That schedule looks good to me @ericpoirier, thanks for the heads up. The only change I suggest, unless there is a good reason otherwise, if to move the Open VSX page from 2nd down to the end of the list.

/cc @croundy

[2021-05-17 11:30] brianking commented on #125
As the event is this Wednesday, this request is quite urgent.

[2021-05-17 12:30] ericpoirier commented on #91
Ok no problem, I thought to add at the top of my list because it a rather big page to build but I can put it at the end.

[2021-05-17 12:53] autumnfound commented on #125
Currently the moderator field is not available within the agenda and can't be added properly within the timeline. We can get the rest done however

[2021-05-17 13:06] autumnfound commented on #125
A preview is available on https://deploy-preview-126--eclipsefdn-ecdtools.netlify.app/events/idesummit/2021/. I'll merge it in once we get a +1 on content and a code review!

[2021-05-17 13:11] hudsonkelly83 commented on #125
@autumnfound can the 'Scheduled Time' column title be changed to 'Start Time (PDT/EDT/CEST)'

Thank you

[2021-05-17 13:13] autumnfound commented on #125
This would be applied to every event on the site going forward, so that is not super advised. A lot of our events use time ranges to better allow people to plan their days + breaks, so it might be odd to have a start time be a range

[2021-05-17 13:26] hudsonkelly83 commented on #125
Ah i see, ok then probably best to change it to a range to be consistent with other events. Here is how that column should look then:

Scheduled Time
| -- |
| 08:00-08:10 PDT / 11:00-11:10 EDT / 17:00-17:10 CEST |
| 08:10-08:40 PDT/ 11:10-11:40 EDT / 17:10-17:40 CEST |
| 08:40-09:10 PDT / 11:40-12:10 EDT / 17:40-18:10 CEST |
| 09:10-09:40 PDT / 12:10-12:40 EDT / 18:10-18:40 CEST |
| 09:40-10:00 PD

[2021-05-17 13:30] autumnfound commented on #125
Done, check the same link for updated preview :)

[2021-05-17 13:35] brianking commented on #125
LGTM!

[2021-05-17 15:42] hudsonkelly83 opened #127 "Add Speakers Section to Cloud IDE Day Page"
Hello, sorry one last update to the Cloud IDE Day page https://ecdtools.eclipse.org/events/idesummit/2021/

1: Please update the agenda section so the panel discussion title adds 'A panel discussion moderated by Jesse Williams' to read:

Build it and You'll Learn: A Discussion About Lessons Learned Building Cloud Tools
A panel discussion moderated by Jesse Williams

Also, if possible please widen

[2021-05-17 18:10] autumnfound commented on #127
We don't support multiline titles in the agenda currently. Usually what we do for agenda sessions is that we add any additional information to the abstract (which can be multi paragraph). See the agenda on the following link for an example with abstracts (the little box with the arrow next to the titles) https://iot.eclipse.org/eclipse-virtual-iot-2021/

We also don't have a real way of widening t

[2021-05-17 18:40] croundy commented on #127
@autumnfound  rather than have a multiline line title, let's just add (Moderated by Jesse Williams) at the end of the title.

As for column width, can we narrow the "Session Name" or "Schedule Time" columns in order to allow for a wider "Speaker Name" column. There are 2 names now that look messed up due to not being wide enough: Serhii Leshchenko and Jessielaine Punongbayant

Thanks for your help

[2021-05-17 18:43] hudsonkelly83 commented on #127
@autumnfound please also update Jessielaine Punongbayan job title in the speaker section to
Product Marketing Engineer - Broadcom

Thanks!

[2021-05-17 19:33] autumnfound commented on #127
Updated!

[2021-05-17 19:36] autumnfound commented on #127
First part easily done, the second part, it has the same issue as the first. It's not super easy to change that without having it look weird at other breakpoints. I can poke at it though

[2021-05-17 19:46] autumnfound commented on #127
@hudsonkelly83 @croundy for now though, does it look good? Hoping to merge this before I leave so we have it up for at least a day before the event haha

[2021-05-17 19:59] croundy commented on #127
@autumnfound  Title and company names for Sven Efftinge and Brian King are not correct. Otherwise, good for now. Would be nice if we could make speaker names fit on one line. Serhii Leshchenko was on one line previously, but is now on 2 lines.

@hudsonkelly83

[2021-05-17 20:10] autumnfound commented on #127
Fixed, apologies!

[2021-05-17 20:27] croundy commented on #127
@autumnfound thanks for that, Let's go ahead and make it live

[2021-05-18 12:54] autumnfound commented on #127
This has been made live!

[2021-05-18 13:54] hudsonkelly83 commented on #127
@autumnfound Marc Dumais has asked that his photo be changed to
![Marc_Dumais](https://user-images.githubusercontent.com/70344546/118663838-024a6a80-b7bf-11eb-90bd-a7b5bd3e2e2f.jpg)

Apologies for the continuous changes. Hoping this is the last. Thank you

[2021-05-19 12:08] hudsonkelly83 commented on #127
@autumnfound if you have time please also update Serhii Leshchenko's job title to Principal Software Engineer

Thank you!

[2021-05-20 17:29] ericpoirier commented on #104
+1

+1

+1

Note that these items are items that I copied from another website until we have actual news items in here.

+1

Not too sure what you mean here.

[2021-05-20 19:19] ericpoirier commented on #104
I did most of the changes from @croundy and @brianking.

You can see those changes here:
https://deploy-preview-130--eclipsefdn-ecdtools.netlify.app/

[2021-05-24 15:34] brianking commented on #104
@ericpoirier All the responsive issues are resolved, except for the first of an image not being centered correctly. It is the one with the man with the headphones.

<img width="414" alt="Screenshot 2021-05-24 at 16 33 37" src="https://user-images.githubusercontent.com/114116/119371022-e3137780-bcad-11eb-8f60-b807a9ee57ad.png">

[2021-05-26 14:36] ericpoirier commented on #104
Hi @brianking I updated the image position for mobile.

https://deploy-preview-130--eclipsefdn-ecdtools.netlify.app/

Let me know if there's anything else.

Thanks!

[2021-05-26 15:02] croundy commented on #104
![image](https://user-images.githubusercontent.com/72274403/119683440-e2d7c100-be00-11eb-8eaf-01a061ffe1d1.png)> > 2. Question about the Cloud ToolTime banners having a date on them. Wondering if it makes sense to make at least one of them (probably the one on the bottom) more generic so we don't have to change it out with every new episode and make the rotating banner specific to the next episode

[2021-05-26 15:16] ericpoirier commented on #104
I think it would probably be a good idea to involve Marketing here to design a banner containing all those elements. Unless you want to use the current layout but just change the text and image. Also I was thinking of using data files for every banner in the carousel, this way we don't need to write custom html every time we add or remove banners which would be time consuming.

[2021-06-01 20:13] #95 closed

[2021-06-03 13:23] jph152 opened #131 "Add Twitch button to ECD Tools social banner"
We'd like to add a button that links to the Cloud Chat Twitch page to the "Stay Connected" banner on https://ecdtools.eclipse.org

<img width="1440" alt="Screen Shot 2021-06-03 at 9 22 09 AM" src="https://user-images.githubusercontent.com/69642121/120651824-2eb3e700-c44d-11eb-9e62-fe7f2804ee84.png">

Link: https://www.twitch.tv/cloudchat_?hss_channel=tw-1177549444935487488

Twitch logo: https://fo

[2021-06-03 15:19] linkfang commented on #115
Please preview the changes here:
https://deploy-preview-132--eclipsefdn-ecdtools.netlify.app/?utm_source=github&utm_campaign=bot_dp

[2021-06-07 15:05] autumnfound commented on #115
@chrisguindon just as a heads up, we are adding the current /resources page as an entry called Projects since its Project resources. We can workshop the name as well, but I think making the menu look less borked is pretty important

cc// @shanda-eclipse

[2021-06-07 19:20] chrisguindon commented on #115
How about simply calling it Resources to match the page title?

There are some non-project-specific resources on the page like the General section.

[2021-06-08 07:54] JonasHelming commented on #115
+1 for resources

[2021-06-08 20:34] linkfang commented on #115
Now the change is live!

[2021-06-08 20:34] #115 closed

[2021-06-09 18:35] #127 closed

[2021-06-09 18:49] hudsonkelly83 opened #133 "Add YouTube Videos and Wrap Up Cloud IDE Day Page"
Hello, please make the following changes to the Cloud IDE Day website https://ecdtools.eclipse.org/events/idesummit/2021/ to reflect event completion.

1: Update the 'Register Now' button to 'Watch the Recordings

2: Change the 'Scheduled Time' column in the agenda to 'Session Recording'

3: Insert the following links for the recorded sessions, with the usual orange play button:

Session Name | Pr

[2021-06-09 19:18] autumnfound commented on #131
A preview is available for this change! Check the bottom of the page for the new logo https://deploy-preview-134--eclipsefdn-ecdtools.netlify.app

[2021-06-09 19:27] jph152 commented on #131
Looks great! +1

On Wed, Jun 9, 2021 at 3:18 PM Martin Lowe ***@***.***> wrote:

--

Jacob Harris

Digital Marketing & Content Specialist | Eclipse Foundation
Eclipse Foundation <http://www.eclipse.org/>: The Community for Open
Innovation and Collaboration

[2021-06-09 19:34] autumnfound commented on #133
@hudsonkelly83 what link should the Watch the Recordings button have?

[2021-06-09 19:36] hudsonkelly83 commented on #133
https://youtube.com/playlist?list=PLy7t4z5SYNaTYvCpxIlPqpzZ8C0rSIeey sorry about that @autumnfound !

[2021-06-09 19:57] autumnfound commented on #133
No worries! A preview is up now for review, https://deploy-preview-135--eclipsefdn-ecdtools.netlify.app/?utm_source=github&utm_campaign=bot_dp should be deployed soon!

[2021-06-09 20:15] brianking commented on #131
@jph152 What do the parameters in the url for? Are they necessary?

[2021-06-09 20:18] brianking commented on #131
@autumnfound Can/Should we put it in the social section in the page footer as well?

[2021-06-09 20:18] jph152 commented on #131
Thanks for catching that Brian. Those must be from when I copied it originally.

The URL should be https://www.twitch.tv/cloudchat

[2021-06-10 14:50] #133 closed

[2021-06-10 17:25] autumnfound commented on #131
I've updated the preview, and the URL should be https://www.twitch.tv/cloudchat_ (the underscore is important). I've added the URL to the socials in the footer, and removed the trailing bit in the cta section

[2021-06-11 12:50] #131 closed

[2021-06-28 13:11] ericpoirier commented on #105
The About page has been merged to the redesign-2021 branch.

Let me know if there's anything else to be done for this page.

Thanks.

[2021-06-28 13:11] #105 closed

[2021-06-28 18:19] jph152 opened #137 "Add white paper section to https://ecdtools.eclipse.org/resources/"
Under "General," can we add a H3 heading for "White Papers"

Below are the items to be listed under this section. The **Eclipse Cloud DevTools Ecosystem** white paper is not live yet, but will be on Tuesday June 29

- [Open VSX Registry: A Vendor Neutral, Open Source Marketplace for VS Code Extensions](https://outreach.eclipse.foundation/openvsx)
- [The Eclipse Cloud DevTools Ecosystem: Defining t

[2021-06-30 13:26] ericpoirier commented on #106
By looking at the following screenshot, can you tell me what is the information located in the small blue boxes in the top right corner of each white blocks.

![Screen Shot 2021-06-30 at 9 24 58 AM](https://user-images.githubusercontent.com/623165/123968274-13bd8f80-d985-11eb-8720-9859d1729401.png)

Thanks.

[2021-06-30 14:55] croundy commented on #106
Hey @ericpoirier!

That information is meant to place projects into categories, as part of the search functionality. With only 12 projects,, unless it's a straight forward implementation, the search is something we could sacrifice in this first round.. However, we should still highlight the categories at the top of each box. The categories that are there now may need some work and are just placeho

[2021-06-30 15:00] chrisguindon commented on #106
I think our issue is that this is not data that we currently capture in the PMI.

It would need to be hardcoded in the site or we would need to add a field in the PMI to capture this information.

[2021-06-30 15:20] ericpoirier commented on #106
@chrisguindon @croundy We could hardcode the categories for the first round but it would probably be best to have a field in the PMI to capture this information so that we can better use this new project layout in another website.

[2021-06-30 15:36] chrisguindon commented on #106
The PMI would be a better option if this is something we are going to use. The alternative is to hardcode for sites that want to use it, otherwise, we set a default string such as Eclipse Project.

I want to be cautious before adding yet another field in the PMI.

[2021-06-30 15:47] ericpoirier commented on #106
Yeah I think this would be a viable option.

[2021-06-30 17:56] ericpoirier commented on #106
@croundy, For now i'm using a hardcoded list of categories for each projects.
https://deploy-preview-138--eclipsefdn-ecdtools.netlify.app/projects/

Let me know if you would like to update the categories.

I will also create a separate issue to add the project name sorting and the categories sorting since this is something that will take some time to implement and I would like to do as much pages

[2021-06-30 17:58] ericpoirier opened #139 "[Redesign-2021] - Implement advanced sorting on the projects page"
I'm creating this issue to tackle separately the advanced sorting on the projects page.

We need to be able to sort by project name and by categories.

Example:
<img width="875" alt="Screen Shot 2021-06-30 at 1 57 03 PM" src="https://user-images.githubusercontent.com/623165/124009024-19c66700-d9ab-11eb-857a-110ec7bae149.png">

[2021-06-30 18:16] ericpoirier commented on #106
I merged the PR[1] I created to redesign the Projects page just so I can continue working on other pages while waiting for feedback, but if there are changes to be made to the projects list page, I'll create another PR.

[1]- https://github.com/EclipseFdn/ecdtools.eclipse.org/pull/138

[2021-06-30 18:39] croundy commented on #106
Thanks @ericpoirier. We will definitely need to update the categories. Excentric just added them as placeholders. @brianking let's discuss how we want to categorize each project

[2021-07-01 07:36] brianking commented on #106
@ericpoirier On Firefox on macOS, the projects are laid out a bit wonky.
https://drive.google.com/file/d/1A8doour6c35Sk2AzVihrt_J4PhwLFWFh/view?usp=sharing

[2021-07-05 14:56] ericpoirier commented on #106
Hi @brianking, from what I can see from the screenshot, the match-height plugin is not firing on your end. Can you tell me if it's still an issue? I tested on Firefox and Chrome on Mac and it's working properly on my end.

[2021-07-05 14:59] linkfang commented on #137
Hi @jph152 ,
Please preview the changes here:

https://deploy-preview-140--eclipsefdn-ecdtools.netlify.app/resources/

[2021-07-05 15:00] jph152 commented on #137
Looks good, +1

[2021-07-05 15:06] brianking commented on #106
@ericpoirier Eventually after a couple of cache-bypassing page refreshes it worked.

However, I saw some console messages that may or may not be important, so posting here for completeness.

The connection to https://clientstream.launchdarkly.com/eval/5e42e94d6bd2ec08061adf53/eyJrZXkiOiJhbm9ueW1vdXMtcXVva2thIiwiZW1haWwiOiIifQ was interrupted while the page was loading. ldclient.es.js:1:35252
LD: [

[2021-07-06 13:53] ericpoirier commented on #108
@brianking @croundy, I created the redesign of the membership page which is now on staging:
https://deploy-preview-141--eclipsefdn-ecdtools.netlify.app/membership/

Let me know if you'd like to make any changes.

Thanks.

[2021-07-06 18:44] #137 closed

[2021-07-07 13:13] brianking commented on #108
@ericpoirier Looks great in general!

A few nits:

1. The 'Membership' box doesn't overflow into the white space underneath, like it does in the [design](https://drive.google.com/file/d/1wksIIIV3WI2bWal_9NDeuaaKl-hFkBzZ/view). Even in mobile view. Rather, the blue box stretches. Maybe this is ok, but just though I would point it out.
2. 'WHAT OUR MEMBERS ARE SAYING' section, when you click on the

[2021-07-07 13:37] croundy commented on #108
@ericpoirier overall looks good. A few things from my perspective:

1. Not leave "Tools" as an orphan in the top intro text
2. In the middle section, change the 2 mentions ECD Tools to Cloud DevTools
3. Change bottom text from "Eclipse Cloud Development Tools (ECD Tools) Working Group" to "Eclipse Cloud DevTools Working Group"

[2021-07-07 15:46] ericpoirier commented on #108
Thanks for the feedback guys.

I made most of the changes you asked for at the exception of the membership block not overflowing in the white background container. Let me know if you'd like me to make that change or like how it is right now.

Otherwise, here is the link of the staging page:
https://deploy-preview-142--eclipsefdn-ecdtools.netlify.app/membership/

Let me know if there's anything els

[2021-07-08 15:55] ericpoirier commented on #109
Hi @croundy and @brianking, I created a PR for the Videos page
https://deploy-preview-143--eclipsefdn-ecdtools.netlify.app/resources/videos/

Note that I didn't add the video filter above the items because my goal right now is to implement most of the redesign and I'll tackle those small functionalities separately since they are time consuming.

My understanding while doing the Videos page, is tha

[2021-07-08 18:12] ericpoirier commented on #110
@croundy @brianking, I added the Community page to the following staging instance:
https://deploy-preview-143--eclipsefdn-ecdtools.netlify.app/resources/community/

Please review the text and links as I copied and pasted the text from the PDF file. I added the links following what is currently on the Community page on production but let me know if you'd like to make any changes or if there are err

[2021-07-09 16:53] brianking commented on #110
Hi @ericpoirier this looks great. For me this is one of the most important pages in the site because it should enable us to bring in more contributors to your projects and community in general.

This will definitely need a content refresh before going live, but we can have a separate issue for that so as not to distract from the implementation of the design. The only thing I will say about content

[2021-07-13 12:31] ericpoirier commented on #107
@brianking @croundy I created the redesign page for adopters.

https://deploy-preview-146--eclipsefdn-ecdtools.netlify.app/adopters/

As @chrisguindon mentions in the first comment, the list of adopters itself did not get a redesign and will be tackle separately since we're missing the description.

In the mean time, let me know if you like to make any changes to the version of the Adopters page I

[2021-07-13 13:22] brianking commented on #107
Thanks @ericpoirier

I am really not a big fan of the horizontal lines. Can we try something like what is in the design, and put each project into a white box with a shadow? In the design, the box encapsulates a single adopter, but for now while we are just working with logos we can group them together in boxes devoted to projects.

Like this:
![Screenshot 2021-07-13 at 15 20 05](https://user-imag

[2021-07-13 13:35] ericpoirier commented on #106
Hi @brianking, I'm also seeing those warnings but they look related to netlify. Let keep an eye open for those message when we go to production with the changes but other wise I wouldn't let them slow us down.

[2021-07-13 14:32] ericpoirier commented on #111
@croundy @brianking where on the ECDtools project's page should we link the OpenVSX project page?

Can we update the "Get Started" link to point to this new page instead of projects.eclipse.org?

Thanks.

[2021-07-13 15:24] brianking commented on #111
I don't think we thought about this yet!

My 2c ... The PMI pages are important, so I think we should leave 'Get Started' as-is (although I am not sure if that is the right label). I would add a separate 'More Information' link.

[2021-07-13 15:30] ericpoirier commented on #110
I'll wait for @croundy's feedback on this before making the changes.

+1

+1

+1

+1

+1

I would suggest we get a design created from marketing if we're to update the layout of that page.

I made most of the changes you are suggesting which you can view on the following staging page:
https://deploy-preview-147--eclipsefdn-ecdtools.netlify.app/resources/community/

Let me know if there's anything

[2021-07-13 15:37] ericpoirier commented on #111
Ok I'm going to leave the current links as is and if you'd like to update the links text, you let me know.

I'll add a "More Information" link in the Open VSX block.

Thanks!

[2021-07-13 19:07] ericpoirier commented on #107
The reason why we're going with the old adopters layout is to save us some time of development so we can publish the redesign to production sooner than later. If I were to integrate the box layout, I would ratter do the intended redesign since it would probably take the same amount of time to do.

For now, I would suggest to keep the old layout and I will create a separate issue to tackle the prop

[2021-07-13 19:11] ericpoirier opened #148 "[redesign 2021] - Adopters page (new layout)"
I'm creating this issue so we can tackle the redesign of the adopters page in a separate issue since we are going to use the old layout of adopters for now.

As previously noted, the new design is available here:
#91

Adopters:
https://projects.invisionapp.com/share/5C10DOVC3QTG#/screens/446432552

As stated in #107, the description is currently not available from the API so we will need to get th

[2021-07-13 19:54] croundy commented on #110
@ericpoirier looking much cleaner with these changes. I have created a document for updating the text. Brian is reviewing before we provide it to you for implementation.

[2021-07-13 20:04] croundy commented on #111
The "Get Started" link is meant to link to the project page. As Brian mentioned, "Get Started" may or may not be the right text. Let's change it to "Learn More"

[2021-07-13 20:18] croundy commented on #109
Yes, there will be 4 separate pages under the "RESOURCES" drop down:
Blog
News & Events
Videos
Community

We did not do any designs for those pages, thinking that we would re-use one of the other page designs. Unless we have a better way to do it, the blog page could be similar to the projects page, with authors searchable on the left and latest blogs on the right. We need to think through News &

[2021-07-14 11:53] ericpoirier commented on #110
Ok sounds good, just post the link of that document here when it's ready.

Thanks!

[2021-07-14 12:05] ericpoirier commented on #109
Ok I will use the same layout for the news&events page.

Where will the blogs be hosted? will they be hosted outside of the website just like we are doing with the news or are we going to add the blog items directly in hugo?

Thanks.

[2021-07-14 12:12] brianking commented on #109
We haven't decided yet what platform/tech we are using for the blog.

[2021-07-14 12:21] ericpoirier commented on #109
Ok for now i'm going to remove the menu item until we decide.

Should we wait for this page to be complete until we go live with the redesign?

[2021-07-14 19:10] ericpoirier commented on #111
@croundy @brianking, The Open VSX page is now on staging.

https://deploy-preview-149--eclipsefdn-ecdtools.netlify.app/projects/
https://deploy-preview-149--eclipsefdn-ecdtools.netlify.app/projects/open-vsx

I did not implement the contact form since we can't implement forms with hugo but let me know if you'd like to add a block containing contact links.

Also you will notice that we are missing t

[2021-07-14 20:10] chrisguindon commented on #111
My expectation is that we would use a Hubspot form if we need a contact form on the page.

@brianking Can you provide that for us? I think you need to ask Shada to create one for you.

That's exactly what we need to do. Let's create a module in solstice-assets that allow us to fetch the profile of a user from our API and display the information that we need such as their image.

I think this is so

[2021-07-15 14:32] croundy commented on #109
For the blog platform, I think we are looking for some guidance from the WebDev team. We don't necessarily need to have everything in place to go live with the new site.

[2021-07-15 14:41] croundy commented on #110
@ericpoirier here's the link to the updated text doc: https://docs.google.com/document/d/1eLgr-elCLs0dMcEb4y8LsVx_lg1JeGPOqin8VL95pJQ/edit?ts=60f017da#

Please let me know of any questions. Thanks!

[2021-07-15 15:12] ericpoirier commented on #110
thanks @croundy, I sent an access request for the document.

[2021-07-16 01:40] ericpoirier commented on #110
I updated the community page on the following staging page:
https://deploy-preview-149--eclipsefdn-ecdtools.netlify.app/resources/community/

Let me know if there's anything else.

Thanks.

[2021-07-16 13:00] croundy commented on #110
Looks good. Note that we did eliminate the 2nd call to action and changed the first one to "Learn About Membership"

Thanks!

[2021-07-22 14:38] brianking opened #150 "[redesign-2021] - Technical Initiatives Page"
Decide if we want such a page in the new site, and if so what content should go there.

Our current pages are outdated.

https://ecdtools.eclipse.org/initiatives/
https://ecdtools.eclipse.org/initiatives/extensions-to-lsp-and-dap/
https://ecdtools.eclipse.org/initiatives/extensions-to-tracing-protocol/
https://ecdtools.eclipse.org/initiatives/ide-extensions-for-serverless-and-faas/
https://ecdtool

[2021-07-23 17:52] ericpoirier opened #152 "Feedback"
I'm creating this issue to track the feedback from @croundy, @brianking and @chrisguindon.

Here are my notes based on the meeting we had today.

**Global**
- [x] Use coloured logos everywhere (Eric)
- [x] Make links more prominent (Eric)
- [x] The Cloud ToolTime webinar series banner should be changed as follows: (Eric)

**Home page**
- [x] Testimonials: Update the picture of the user (Eric)
- [x

[2021-07-23 20:16] croundy commented on #110
Some minor things:

1. Button at the top should be "Learn About Membership" 2nd button is removed
2. The "Calendar" icon and the "Virtual Events" Icon have been reversed.
3. Under the calendar section, we need to add a link to the iCal format, which I presume is linked to the foundation calendar

[2021-07-23 20:23] croundy commented on #152
Global change:

The Cloud ToolTime webinar series banner should be changed as follows:

Remove date: December 1, 2020

Change text to read: Join us for this fun, educational and interactive webinar series, featuring a variety of cloud development topics from community members!

[2021-07-23 20:30] croundy commented on #152
Home Page:

1. "What's New" section should be pulling from Cloud DevTools sources instead of IoT sources
2. The section that reads " Open Source Community-driven Collaboration" should have a parallax treatment as an interesting visual element

[2021-07-26 07:56] brianking commented on #110
It's the Cloud DevTools Community calendar. Here is the link:
https://calendar.google.com/calendar/ical/c_atlvn0hqrerh0bnr4ag25tpm8g%40group.calendar.google.com/public/basic.ics

Tell me more about this foundation calendar! Should we be linking to that as well?

[2021-07-27 15:14] brianking commented on #152
@ericpoirier Regarding "Ask committers to update their profiles" (and project leads), where is this data being pulled from? I'm putting together some communications to send out around this, as well as ensuring PMI pages for projects are up-to-date.

[2021-07-27 15:20] ericpoirier commented on #152
This is being pulled from https://accounts.eclipse.org and this is where the users will have to update their information.

[2021-07-28 15:56] ericpoirier commented on #152
I started a PR to include the changes that we gather in this issue. You can see the changes here.
https://deploy-preview-153--eclipsefdn-ecdtools.netlify.app/

And you can keep track of what have been done based on the elements that I checked on this list.

[2021-07-28 18:43] ericpoirier opened #154 "Implementation of the Contribution Activity section"
I'm opening this issue to find out how we are going to implement the Contribution Activity section on the Open VSX projet page for the redesign task.

Here is a screenshot of what it should look like
![Screen Shot 2021-07-28 at 2 40 31 PM](https://user-images.githubusercontent.com/623165/127378267-14fa21ad-d608-4a86-bd9e-ffe8aa1617e9.png)

[2021-07-29 15:11] ericpoirier commented on #152
Can you supply links and titles you'd like to use for the videos? The list of videos located on the home page and on the Videos page is generated from a .yml file in the data folder which is manually maintained.

There is already Parallax to that block. I'm removing it for mobile so that it loads better but the effect is there for desktop.

[2021-08-03 09:59] brianking opened #155 "Contact Project Owners to update PMI Pages"
Our redesign of the Projects page relies heavily on getting good content from the PMI project page, e.g. https://projects.eclipse.org/projects/ecd.dirigible

This issue is to contact leads to review and update pages as necessary. In particular:

1. Make sure the project logo is correct (add one if not there already)
2. Ensure the project description is up to date
3. Check latest releases are prese

[2021-08-03 10:28] brianking commented on #155
So far emails sent to Open VSX, Dirigible, and Che project leads.

[2021-08-03 13:41] brianking opened #156 "[redesign-2021] - Get Listed as an Adopter Page"
Currently this page is a block of text, with not much else going for it.

There are 2 parts:

- [ ] Review Content
- [ ] Review Page Design. We should try to engage with a designer for this.

There could be common elements used from the Adopters page re-design, which is covered in #148

This is an action item from #152

[2021-08-03 16:04] brianking commented on #156
Content suggestions for https://deploy-preview-153--eclipsefdn-ecdtools.netlify.app/adopters/get-listed/.

- Change banner text from 'GET LISTED' to 'SHOWCASE YOUR WORK'
- Add a section under the banner, similar to what is seen on other pages
  - Section header: GET LISTED AS AN ADOPTER
  - Section text: First paragraph of text that is currently there
  - Section button: Label - LIST OF ADOPTERS.

[2021-08-04 17:43] delchev commented on #155
The description and links for Dirigible project have been updated.

[2021-08-05 23:32] l0rd commented on #155
Che information was up to date.

[2021-08-09 20:53] croundy commented on #152
This document shows titles, a brief description and links to the videos we want to feature on the video page:

https://docs.google.com/document/d/1Z_0ofugO8tDwYtCYHK0BEmVWEQ5VsIxlsGwk5ZUVSVs/edit#

@brianking please review and feel free to edit/change

[2021-08-10 10:17] brianking commented on #152
That list looks ok to me. An alternative would be to just show the latest n videos, on chronological order, but I am also ok with the featured approach..
The Learn More button up above linking to the playlist is not obvious, so it might make sense sense to link to it somehow underneath the last video, with text like 'Go to the full playlist'.

[2021-08-10 11:49] ericpoirier commented on #152
Would you like me to remove the button at the top of the page or should we keep it and add the 2nd button at the bottom of the page?

[2021-08-10 12:36] brianking commented on #152
You can keep it, let's see what it looks like with both.

[2021-08-10 13:27] ericpoirier commented on #152
I updated the videos page on the staging page.

https://deploy-preview-153--eclipsefdn-ecdtools.netlify.app/resources/videos/

If there's nothing else to be updated from the videos page, we can mark this item as "done" in the list at the top of this page.

[2021-08-10 14:59] croundy commented on #152
LGTM!

[2021-08-10 15:04] ericpoirier commented on #152
So I think all we need now are the following items:

1. Provide a redesign for the "How to be listed as an adopter" page.
    https://deploy-preview-153--eclipsefdn-ecdtools.netlify.app/adopters/get-listed/

2. Ask committers to update their profiles for the Open VSX page
    https://deploy-preview-153--eclipsefdn-ecdtools.netlify.app/projects/open-vsx/

3. Contact project leads to ask them to upd

[2021-08-10 15:06] croundy commented on #152
A couple of minor things:

1. "Change text to read:" was left in the text that goes with the Cloud Tool Time banner at the bottom of the page
2.  Home page "What's New" section. The text styling for the Event/calendar is different. Can we make that consistent? Can we also pull in the description of that event that is posted on the Crowdcast registration page? https://www.crowdcast.io/e/cloud-tool-

[2021-08-10 16:28] brianking commented on #156
@ericpoirier This is ready here:
https://docs.google.com/document/d/1Li_bib1Ql2BwvpIgL2P2-Cqc1RCd_dNvDi6Zu4nbiD0/edit?usp=sharing

[2021-08-10 16:28] brianking commented on #152
This is ready here:
https://docs.google.com/document/d/1Li_bib1Ql2BwvpIgL2P2-Cqc1RCd_dNvDi6Zu4nbiD0/edit?usp=sharing
(https://github.com/EclipseFdn/ecdtools.eclipse.org/issues/156)

I'm not sure the best way to approach this. It feels like 1-1 is better so that they are more compelled to act on it, but that would be a lot of work to do. Any ideas?

See:
https://github.com/EclipseFdn/ecdtools.eclip

[2021-08-11 15:07] ericpoirier commented on #152
Done.

Done.

I don't think there's a perfect solution for this. As you're saying, contacting each of them one by one would be a lot of work. Maybe contacting the project lead so that this person can put pressure on the committers to update their profile would be a good way to go? As well as sending an email to everyone. In the end, it's kind of out of our control if they do it or not.

+1

See th

[2021-08-11 15:54] croundy commented on #152
Looking good. On the "Showcase Your Work" page, we are missing a couple of links:

 static/assets/images/adoptors
config/adopters.json

Also perhaps reduce the font size a bit for the "Who is Considered an Adopter?" and "How Can I Get My Logo Displayed?" text

[2021-08-11 16:03] brianking commented on #152
Also on that page (/adopters/get-listed/), the page title shows up in the tab bar as ALL CAPS while other pages do not.

[2021-08-11 17:22] ericpoirier commented on #152
I updated that page with the missing links.

I would suggest keeping the title size as is because they are <h2> tags and to keep things consistent throughout the site I wouldn't change it for one page only. If you're saying the <h2> is too big throughout the site, then we can make that change no problem.

Let me know if you'd like to reduce the size of the <h2> on all sub pages.

Thanks.

[2021-08-12 18:46] ericpoirier opened #157 "Implement google search only for ECDtools"
The search we currently implement on our websites is a generic search that goes through all of our websites.

For example:
https://www.eclipse.org/home/search.php?q=ecdtools

But here we want to be able to have a search only for ECDtools.

We would have to copy the currently functionality and use it only for this site.

[2021-08-12 19:10] ericpoirier commented on #152
Based on the discussion we had on our call, I've made the following changes:

**Webinars section:**
Buttons are now part of the slide items
Add automatic rotation
Update the data file to be more generic

**Blogs**
Update blog items based on Brian's blogs post on blogs.eclipse.org (I got only 3)
Added the Blogs menu item under Resources

**Community**
Switch the Calendar and Virtual Events icons

*

[2021-08-13 11:38] brianking commented on #152
Thanks @ericpoirier. One thing I notice is where blog posts have their own page, there is no link to view the full post.

e.g.
https://deploy-preview-153--eclipsefdn-ecdtools.netlify.app/resources/blogs/2021-07-13-5-reasons-to-adopt-eclipse-theia/

[2021-08-13 12:15] ericpoirier commented on #152
I updated the links and are now going to blogs.eclipse.org

[2021-08-13 14:00] croundy commented on #152
@ericpoirier looking great! I just noticed that the links for the Cloud Tool Time footer are not active. Please add these links:

Register Now: https://www.crowdcast.io/e/cloud-tool-time-sept7/register
Join the Conversation: Change link name to "Propose a Talk" and link it to https://docs.google.com/forms/d/e/1FAIpQLScudzvlUVfXehmz-Jkivv_BkJdljSjtZLENkT16jSxTzwzwkQ/viewform

Thanks!

[2021-08-13 15:46] brianking opened #158 "Testing: Phase 1 - Share your feedback!"
We are now ready to start Testing: Phase 1 in order to capture feedback from stakeholders.

The Eclipse Cloud DevTools Site Re-design is available via this URL:
https://redesign-2021--eclipsefdn-ecdtools.netlify.app/

Our goal with this project is to bring a modern look and user experience to the site, to showcase the work of the Working Group, to shine a light on our projects, and to encourage pa

[2021-08-18 18:08] JonasHelming commented on #158
Page looks and work great for me.
The following sections are missing:
Recent Blog Post (I think it is great to have some active content on the first page. The blog list was automatically agregated, so it is zero maintenance effort. Shows activity and is good for SEO)
Interesting reads (on the front page)
Resources (This was added after the page design started, so it was probably overlooked)

About

[2021-09-02 10:48] brianking commented on #158
We'll review how and where we use "Working Group" and likely change some of them. However, we don't want to deemphasize too much as this is the WG site after all.

Yes there are a few places on the site where font size needs to be reviewed. I'll flag with Webdev.

Adding the extra word sounds good to me.

Some content is placeholder right now, this will be changed.

Agreed, we should try and do on

[2021-09-02 16:59] shanda-eclipse commented on #158
@croundy Rather than linking to https://accounts.eclipse.org/contact/membership/ecdtools on https://redesign-2021--eclipsefdn-ecdtools.netlify.app/membership/ I would suggest we create a page on ecdtools.eclipse.org that has the membership application form embedded. Staying within the tools site will lead to a better experience for users. WDYT?

Here is the embed code:
`
<script charset="utf-8" ty

[2021-09-07 12:55] JonasHelming commented on #158
We have put significant effort and thoughts into the “recent blog post” section when we first established it. It aggregates all blog posts from members with specific tags. AFAIK, the new page just shows the latest post from the ECDT blog. Besides the community driven approach which is the core goal of the working group, it is unarguably better for SEO to have dynamic content from different sources

[2021-09-07 14:29] croundy commented on #158
I'm not sure I understand the pushback to making content easier to identify and find. This design was done by an organization that creates websites for a living. They specifically and purposefully broke out the resources section to improve user experience and SEO.  All the information is still there and it gives us the infrastructure to better scale and build out that information ....it's simply b

[2021-09-07 16:00] brianking commented on #158
@ericpoirier Here are some suggested changed based on feedback thus far:

- [ ] In the What’s New section on the homepage, add qualifying words to the ‘View All’ links, e.g. ‘View All Blog Posts’

- [ ] The font size in some pages / sections comes off as really small and should be reviewed. This is likely happening on some resolutions. I (Brian) and also seeing it on my 13” Macbook retina screen.

[2021-09-07 18:09] JonasHelming commented on #158
I am not pushing back on making content easier to find. I provided feedback and stated a different opinion. Please allow for opposing opinions, even if you do not agree. Also, IMHO, it is not really relevant for the discussion, who did the change or whether sb was paid for it. If this is an argument, we do not need to ask the community for feedback.
To make this part of my feedback clear: I think

[2021-09-07 18:21] ericpoirier commented on #158
I've made the changes listed in the following comment:
https://github.com/EclipseFdn/ecdtools.eclipse.org/issues/158#issuecomment-914430773-permalink

You can see the changes here:
https://deploy-preview-159--eclipsefdn-ecdtools.netlify.app/

Let me know if I missed anything. Thanks.

[2021-09-07 20:38] croundy commented on #158
Got it and thank you. That clarification helps. Realizing that people do consume content differently, from a user experience perspective, it absolutely makes sense for content to be searchable by topic, irrespective of how we separate pages by content type. It may not be part of the initial site release, but making content searchable by topic, project, etc. is important and on the radar.

To be cl

[2021-09-08 10:47] brianking commented on #158
+1. We are not going to get this right at the initial launch, so let's work through it in other issues when the time comes.

[2021-09-08 11:14] brianking commented on #158
Looks good Eric. The only thing still off for me is "The icons in the Whats New section on the homepage, and on the Community page, are not the same size. They should be standardized to one size." as they still look differently sized.

I looked at the separate images, and they seem like they were cropped from a larger design. Would it helped if we asked the designers for a consistent icon set, eit

[2021-09-08 12:05] ericpoirier commented on #158
Yes, that would be best I think.

[2021-09-13 14:26] croundy commented on #158
@JonasHelming in reviewing how to best incorporate the content from the current "resources" page, it was determined that for now we will add an "Other Resources" page to the drop down menu. As we improve the blog page and the search capabilities of the site, we will add those resources to the appropriate pages.

[2021-09-13 18:13] JonasHelming commented on #158
@croundy : That is fine for me thank you. We might consider to replace "Other resources" with "By topic" or something similar, because the makes it more clear what the page is. I leave this one up to you.
Personally, I wouldn't invest much into search capabilties, IMHO Google will be sufficient for most use cases anyways. I will post a separate comment about the blog section.

[2021-09-13 18:20] JonasHelming commented on #158
About the "Blogs": AFAICS, the three blogs are currently hard coded. I suggest to integrate the previous way of collecting related blog post from the aggregator (https://github.com/EclipseFdn/ecdtools.eclipse.org/blob/59935486c832647139d52c6fbdd146b2b2cd516b/layouts/partials/rss_display.html). This way, we dynamically have fresh content all the time.

[2021-09-13 18:23] JonasHelming commented on #157
I am not opposed, but I also do not see super much value in this. You can just search on the site using regular google, e.g. "site:https://ecdtools.eclipse.org/ theia"

[2021-09-14 10:55] brianking commented on #158
Please file a separate issue for this.

[2021-09-14 10:57] brianking commented on #155
I sent reminders to the remaining project owners on August 6.

[2021-09-14 11:25] JonasHelming opened #160 "Load Blogs from aggregator"
About the "Blogs": AFAICS, the three blogs are currently hard coded. I suggest to integrate the previous way of collecting related blog post from the aggregator (https://github.com/EclipseFdn/ecdtools.eclipse.org/blob/59935486c832647139d52c6fbdd146b2b2cd516b/layouts/partials/rss_display.html). This way, we dynamically have fresh content all the time.

_Originally posted by @JonasHelming in https:/

[2021-09-14 11:25] JonasHelming opened #161 "Load Blogs from aggregator"
About the "Blogs": AFAICS, the three blogs are currently hard coded. I suggest to integrate the previous way of collecting related blog post from the aggregator (https://github.com/EclipseFdn/ecdtools.eclipse.org/blob/59935486c832647139d52c6fbdd146b2b2cd516b/layouts/partials/rss_display.html). This way, we dynamically have fresh content all the time.

_Originally posted by @JonasHelming in https:/

[2021-09-17 13:23] ericpoirier commented on #123
I removed Travis CI this week from this repo.

[2021-09-17 13:23] #123 closed

[2021-09-20 16:00] ericpoirier commented on #158
Clark provided new svg icons by email.

I'm adding them in the PR:
https://deploy-preview-159--eclipsefdn-ecdtools.netlify.app/

Let me know if there's anything else.

Thanks.

[2021-09-21 19:45] jph152 commented on #152
Here is the content for slide items:

https://docs.google.com/document/d/166fmk6BYrtCuIGheWtxD8TdVaOMFysdB_gqTDyCIWEs/edit?usp=sharing

@ericpoirier should the images be added as separate attachments?

[2021-09-22 13:55] ericpoirier commented on #152
If you can provide the images separatly, that would be great.

[2021-09-22 14:04] jph152 commented on #152
![Cloud Tool Time Cards](https://user-images.githubusercontent.com/69642121/134358079-073807d3-5e1e-41c2-9aef-923843e50171.jpg)

![TheiaConLogo-Colour](https://user-images.githubusercontent.com/69642121/134358156-4d86ddf8-74af-4efa-8c77-1c0029253fb2.png)

![image_31621888-bfdb-4673-80d9-b217b62c6d0920210921_104843 (1)](https://user-images.githubusercontent.com/69642121/134358324-bcfe6330-00a8-45b7

[2021-09-22 14:21] ericpoirier commented on #152
Some images are not very readable where the images are currently going.

![image](https://user-images.githubusercontent.com/623165/134361493-cc4af2b3-6937-46ba-816a-159fa85cf996.png)

Can we have another image here?

Thanks.

[2021-09-22 14:32] croundy commented on #152
@ericpoirier The space on the left where the "Cloud Tool Time" text seems like it could be used better. Is it possible to combine that space with the space where the image is located, so we can make that image larger? It would then basically just be 2 columns instead of 3 and have more visual pop. We could then add "Cloud Tool Time Webinars" as a headline above the body text on the right

[2021-09-22 14:41] ericpoirier commented on #152
Yeah thats a possibility but keep in mind that there's only one layout for all the slides so the other slides with smaller images are going to use the same layout. That being said, what you are suggesting would probably be better for the overall of the slides.

I'll make that change and push it to staging so you can have a look at all the slides.

[2021-09-22 15:30] ericpoirier commented on #152
@croundy @brianking You can see the updated Highlights section here:
https://deploy-preview-164--eclipsefdn-ecdtools.netlify.app/

I updated the styles and the layout to make it work with Clark's idea.

Let me know if you'd like to make more changes.

[2021-09-22 15:32] croundy commented on #152
@ericpoirier I'm liking it. WDYT?

[2021-09-22 16:29] jph152 commented on #152
![Cloud DevTools headshots](https://user-images.githubusercontent.com/69642121/134384070-325fba41-251e-4c52-8699-e19f98a6380a.png)
Here is Jonas Helming's photo for the featured projects/project lead section. Waiting on confirmation from Marc Nuri about his picture

[2021-09-22 16:47] ericpoirier commented on #152
Yeah, I like it too.

[2021-09-22 17:41] ericpoirier commented on #152
You can see the updated picture here:
https://deploy-preview-164--eclipsefdn-ecdtools.netlify.app/

[2021-09-22 18:55] brianking commented on #161
More changes needed:

- In the members section on the home page,  change “Being a member has benefits” to “See all members and member benefits”
- In the Webinar Series section on the homepage, the Register Now link should be changed to https://www.crowdcast.io/e/cloud-tool-time-nov23
- In the FAQ on the About page, 2nd question: “…projects including Eclipse Theia, Eclipse Che, Eclipse Open VSX Ecl

[2021-09-22 19:17] ericpoirier commented on #158
Requested by @brianking

More changes needed:

In the members section on the home page, change “Being a member has benefits” to “See all members and member benefits”
In the Webinar Series section on the homepage, the Register Now link should be changed to https://www.crowdcast.io/e/cloud-tool-time-nov23
In the FAQ on the About page, 2nd question: “…projects including Eclipse Theia, Eclipse Che, Ec

[2021-09-23 07:34] JonasHelming commented on #161
@brianking Would it make sense to track these change requests in a separate issue?

[2021-09-23 12:02] brianking commented on #161
I posted in the wrong issue, was meant for #158. Will delete.

[2021-09-23 12:04] brianking commented on #161
Is this a dupe of #160 ?

[2021-09-23 12:05] brianking commented on #158
Oops, I posted in the wrong issue (161) yesterday. Thanks Eric.

All seem fixed except this one:
n the Webinar Series section on the homepage, the Register Now link should be changed to https://www.crowdcast.io/e/cloud-tool-time-nov23

[2021-09-23 12:30] jph152 commented on #152
![Cloud DevTools headshots (1)](https://user-images.githubusercontent.com/69642121/134506817-7f5d7944-deff-4552-ab52-5274414a410c.png)

Thanks @ericpoirie, here is the other picture for that section

[2021-09-23 13:03] #161 closed

[2021-09-23 14:11] ericpoirier commented on #160
Hi Jonah,

Thanks for opening this bug. For now, we will keep the way we add blogs to ECDtools as is but we are currently working on a global solution for all our websites. The aggregator is one solution but we would like to take the time to think of the better way to create and add community blog posts to our websites.

[2021-09-23 14:29] ericpoirier commented on #160
What we have discussed with @brianking and @croundy, is to add blogs posts manually to the ECDtools website for now.

@chrisguindon probably have a better understanding of the global issue here but my understanding is that we want the community to be able to write blog posts on a platform and that we can access through an API. And we want the solution to scale for all the websites we maintain.

[2021-09-23 14:35] JonasHelming commented on #160
OK, I think everybody agrees that the manual addition of blog posts shall be replaced asap.

I agree to the goals. These match the goals we had before when designing the original solution, so I think it fits.
There is one more important goal though: It should be convenient for the community which ideally means to reuse an existing, well establish mechanism. About scaling: Please be aware that ther

[2021-09-23 17:45] ericpoirier commented on #104
The redesign of the home page is now live on production.

All the redesign elements have been implemented.

One thing to note is the implementation for the carousel section. At first in the design it was only displaying a webinar but it's now showing featured story items which have been hardcoded in ecdtools for now.

For the moment we are not supporting images for the featured story API but I cre

[2021-09-23 17:45] #104 closed

[2021-09-23 17:52] ericpoirier opened #165 "Update home page carousel"
Once the image field have been added to the featured stories on newsroom.eclipse.org, we will need to use this API to populate the carousel section of the home page.

Here is the bug that tracks the implementation of the image field to the featured stories:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=576234

[2021-09-23 17:54] ericpoirier commented on #106
Hi everyone,

The projects page redesign have been implemented and is now live on the production website.

Thanks!

[2021-09-23 17:54] #106 closed

[2021-09-23 17:58] ericpoirier opened #166 "Implement new adopters layout"
We need to implement to new Adopters layout as shown in the following preview:
https://projects.invisionapp.com/share/5C10DOVC3QTG#/screens/446432552

It was decided in issue #107 to go live with the old layout for the redesign launch but implement the Adopters page in Q4.

[2021-09-23 17:59] ericpoirier commented on #107
The Adopters page is still using the old layout for Adopters page but I created a new issue #166 to track the implementation of the new design.

[2021-09-23 17:59] #107 closed

[2021-09-23 18:00] ericpoirier commented on #108
The membership redesign has been implemented as requested and is now live on production.
https://ecdtools.eclipse.org/membership/

[2021-09-23 18:00] #108 closed

[2021-09-23 18:06] ericpoirier commented on #110
The Community redesign has been implemented and is now live on the production site.
https://ecdtools.eclipse.org/resources/community/

[2021-09-23 18:06] #110 closed

[2021-09-23 18:16] ericpoirier commented on #111
The implementation of the Open VSX project page is now on production and all the requested elements have been done at the exception of:

Contribution Activity / Companies involved
- We decided to remove this block since its was intended to contain dynamic content which we wouldn't have time to implement.

Contact form -> I expect this to be an embed hubspot form.
- We decided to remove this form s

[2021-09-23 18:16] #111 closed

[2021-09-23 18:20] ericpoirier opened #167 "Implement filter on the videos page"
Based on the original design, it was expected that we implement a filter and add some tags to the videos.
https://projects.invisionapp.com/share/5C10DOVC3QTG#/screens/446432559

I believe we dropped the idea of adding tags but still want to implement a filter to that page. I might be wrong but i'm opening this issue to track this discussion and so that I can close #109.

@croundy @brianking let me

[2021-09-23 18:21] ericpoirier commented on #109
I decided to open the issue #167 and decide if we want to implement the filter feature over there so that we can close this bug here.

Thanks.

[2021-09-23 18:21] #109 closed

[2021-09-23 18:22] ericpoirier commented on #92
The template has been implemented in the redesign.

[2021-09-23 18:22] #92 closed

[2021-09-23 18:26] ericpoirier commented on #166
I'm closing this issue since we already have an issue opened to track the update of the Adopters page
#148

[2021-09-23 18:26] #166 closed

[2021-09-23 18:26] ericpoirier commented on #158
Thanks for sharing your feedback! The redesign is now live on production.
https://ecdtools.eclipse.org/

[2021-09-23 18:26] #158 closed

[2021-09-23 18:30] #152 closed

[2021-09-23 18:31] ericpoirier commented on #150
Hi @brianking,

The pages under initiatives have been removed from the website, do we still need this issue?

Thanks.

[2021-09-23 18:32] ericpoirier commented on #155
Hi @brianking,

Can we close this issue?

Thanks.

[2021-09-23 18:51] brianking commented on #152
Thanks, please add this to the content updating document if not already there.

[2021-09-23 18:52] brianking commented on #150
Reopened by accident @ericpoirier ?

[2021-09-23 18:53] brianking commented on #155
Yes, closing.

[2021-09-23 18:53] #155 closed

[2021-09-23 19:11] ericpoirier commented on #150
No i didn't mean to close it, I wanted to get an answer from you before closing.

If you think we can close this bug, let's do it!

[2021-09-23 19:17] ericpoirier commented on #152
Done.

[2021-09-24 12:10] brianking commented on #150
Is there a way to archive them, and have them available for view somehow (i.e. not necessarily linked anywhere or available to crawlers)?

[2021-09-24 12:12] ericpoirier commented on #150
You have access to the files if you look at the code from an old commit's perspective.

For example:
https://github.com/EclipseFdn/ecdtools.eclipse.org/tree/5d59035d574e0912e3fe0cef9ecfde3371c71362/content/initiatives

[2021-09-24 12:13] #150 closed

[2021-09-24 13:37] ericpoirier commented on #91
Closing this issue since we launched the redesign yesterday.

[2021-09-24 13:37] #91 closed

[2021-09-24 15:50] brianking opened #170 "Overlap in carousel in Tablet view"
**Describe the bug**
In Tablet view, the image and the text overlap each other in 4 of the 5 tiles in the carousel on the homepage. The only one where it does not is the whitepaper one.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://ecdtools.eclipse.org/' on a tablet. Can also be reproduced in the Responsive mode dev tool in a desktop browser.
2. Scroll down to the carousel
3

[2021-09-24 17:11] ericpoirier commented on #170
I created a PR to update the styles and you can see the changes here:
https://deploy-preview-171--eclipsefdn-ecdtools.netlify.app/

Let me know if there's anything else.

[2021-09-24 17:49] #170 closed

[2021-09-24 20:30] brianking commented on #170
LGTM!

[2021-10-05 17:52] chrisguindon commented on #156
@brianking Can you review the content before we start working on this?

[2021-10-05 17:53] ericpoirier commented on #148
It was decided to following the new redesign but to display only logos in white squares ratter than having rectangles containing logos and descriptions.

[2021-10-13 11:45] brianking opened #175 "Preview on Google Docs shows old logo"
I'm not sure if this is a Google caching issue, or ours, but when previewing a link to the site in Google Docs the old logo is shown. With the site live a couple of weeks, I would have expected it to be updated at this stage.

<img width="695" alt="Screenshot 2021-10-13 at 12 12 04" src="https://user-images.githubusercontent.com/114116/137126459-efcc690d-2c28-4b16-a137-bd1b4651f7ef.png">

[2021-10-13 12:29] ericpoirier commented on #175
I think google cached the old image.

I'll to to change the name of the image and see what it does.

[2021-10-14 19:32] jph152 opened #177 "Change TheiaCon ad on slider with developer survey"
Can we remove the TheiaCon item on the slider and add a new one promoting the Cloud Developer Survey?

TITLE: Download the 2021 Cloud Developer Survey
BODY: Read this insightful and timely report to discover emerging trends in cloud native application development.
CTA: [DOWNLOAD TODAY](https://outreach.eclipse.foundation/cloud-developer-survey)
IMAGE:
![cloud dev survey thumb 2](https://user-image

[2021-10-15 15:19] jph152 commented on #177
Let's update the TheiaCon slider instead. Here's the new content:

TITLE: Register For TheiaCon!
BODY: Join us on November 17 for the largest Eclipse Theia event of the year!
LINK: https://www.crowdcast.io/e/theiacon2021/register
BUTTON: REGISTER NOW
IMAGE:
![image (5)](https://user-images.githubusercontent.com/69642121/137511987-b6fe7fa2-64a5-49c2-a224-7ae37353b8f3.png)

[2021-10-15 15:45] linkfang commented on #177
Cool!
@jph152  Please preview here:
https://deploy-preview-178--eclipsefdn-ecdtools.netlify.app/

[2021-10-18 13:57] #175 closed, assigned to nobody

[2021-10-20 19:05] jph152 opened #179 "Swap EclipseCon slider promo for Cloud Developer Survey"
Can we remove the EclipseCon promo from the homepage slider and replace it with the following:

TITLE: Download the 2021 Cloud Developer Survey
BODY: Read this insightful and timely report to discover emerging trends in cloud native application development.
CTA: [DOWNLOAD TODAY](https://outreach.eclipse.foundation/cloud-developer-survey)
IMAGE:
![image](https://user-images.githubusercontent.com/69

[2021-10-21 19:04] ericpoirier commented on #148
@brianking @croundy I updated the adopters page on staging:

https://deploy-preview-180--eclipsefdn-ecdtools.netlify.app/adopters/

Let me know if you'd like me to change anything.

Thanks.

[2021-10-21 19:08] ericpoirier commented on #156
@brianking I updated the content of the Get Listed page on staging.

https://deploy-preview-181--eclipsefdn-ecdtools.netlify.app/adopters/get-listed/

Let me know if you'd like me to change anything.

Thanks.

[2021-10-22 17:58] #179 closed, assigned to linkfang

[2021-11-04 13:30] ericpoirier commented on #165
The image field has been added to the featured story content type. We can now start moving forward by using the featured story plugin in the carousel.

[2021-11-04 15:24] jph152 commented on #177
HI @linkfang can we change the text to the following:

Join us November 17-18 for the largest Eclipse Theia event of the year!

[2021-11-04 15:45] linkfang commented on #177
Sure, please preview here:
https://deploy-preview-185--eclipsefdn-ecdtools.netlify.app/

[2021-11-04 15:47] jph152 commented on #177
Awesome, thanks +1

[2021-11-04 15:52] #177 closed

[2021-11-04 15:55] linkfang commented on #177
NP!
The change is live!

[2021-11-04 20:42] JonasHelming opened #186 "Add an overview of Twitter hashtags"
It is currently hard to follow ECDT related topics on Twitter, as different authors are using different hashtags for the same topic. I suggest to add a sub page under resources that lists relevant hashtags from the ecosystem (including projects). This allows people to follow topics more easily, but it also provides a documentation for people doing tweets.

[2021-11-05 10:27] brianking commented on #186
A separate page seems too much for me, how about a section on the community page?

[2021-11-05 10:29] JonasHelming commented on #186
Sounds very good!

[2021-11-05 12:15] ericpoirier commented on #186
Currently looking at the Community page and we already have some suggested hashtags in the Social Media section.

Would it be simply a matter of making this more prominant so that users notice it more?

[2021-11-08 08:14] JonasHelming commented on #186
Yes, and add more tags for most important projects. If we add more tags, we somehow need to rearrange the layout to fit

[2021-11-08 13:44] ericpoirier commented on #186
@brianking we will need to define a new list of hashtags and to make this section more prominent, we could simply create a Twitter section highligting the hashtags. I think I can manage with the layout changes but can you provide me a new list of hashtags? Or should we ask marketing for help on this?

[2021-11-10 13:44] JonasHelming commented on #186
For the projects #eclipseglsp, #eclipsetheia, #emfcloud, #cdtcloud, #eclipseche (to be completed) and
one tag for the working group/ top level project, currently there are two tags. We currently have #ecdtools and #clouddevtools.
With the new Twitter char limit I am leaning towards: #eclipseclouddevtools

[2021-11-12 13:26] shanda-eclipse commented on #165
@ericpoirier Images have been added to 4 featured stories tagged for ECD tools, so you should be able to try using the newsroom for this section.

[2021-11-15 13:04] ericpoirier commented on #165
Perfect, thanks!

[2021-11-18 14:26] ericpoirier commented on #186
Let me know if this is the final list of tags and I will add that to the page.

Thanks.

[2021-11-18 17:09] ericpoirier commented on #165
@shanda-eclipse @brianking please review the following staging page for the updated carousel.

https://deploy-preview-188--eclipsefdn-ecdtools.netlify.app/

It is now using the featured story items coming from newsroom.eclipse.org.

I'll wait for a +1 to merge to production.

Thanks.

[2021-11-18 17:53] shanda-eclipse commented on #165
The fonts look a little smaller on the staging site, can you double-check they are the same?

[2021-11-18 18:02] chrisguindon commented on #157
@JonasHelming This was requested by @croundy and @brianking. I am taking this off Eric plate to help him out.

[2021-11-18 18:21] ericpoirier commented on #165
Good catch, I was missing a <p> tag around the text. I updated my PR which will update the staging page in a few minutes.

[2021-11-18 18:28] shanda-eclipse commented on #165
One more minor change. Can we update the button styling in this section to the white buttons and all caps text like it's currently styled on the live site?

[2021-11-18 18:34] ericpoirier commented on #165
Ok i also updated the buttons. Should be on staging soon.

[2021-11-18 18:53] shanda-eclipse commented on #165
+1 to go live.

@jph152 FYI

[2021-11-18 22:00] chrisguindon commented on #157
I submitted a patch to our base theme to allow WG website to host their own search result page:
https://gitlab.eclipse.org/eclipsefdn/it/webdev/hugo-solstice-theme/-/merge_requests/246

Once this is merged in, we will be able to add this feature to this website.

I also created a new GSE for ecdtools.eclipse.org. The ID for that is c3abf6ca625209d62

[2021-11-19 18:04] ZahraFazli opened #189 "Add Renesas as member to the website"
Hello,
Please add Renesas Electronics Corporation as a Participant Member on the ECD Tools website.
URL: https://www.renesas.com/sg/en
![Uploading download.png…]()

[2021-11-19 18:12] autumnfound commented on #189
@ZahraFazli can you upload the image again? It looks like it didn't upload properly the first time

[2021-11-19 18:14] ZahraFazli commented on #189
![download](https://user-images.githubusercontent.com/50374570/142671459-bd912c9d-c888-4add-bee4-9e34cd03faff.png)

[2021-11-22 14:20] chrisguindon commented on #160
@JonasHelming  We are currently working with the Jakarta EE WG to address this problem. Once fixed, we plan on implementing the same solution on any other interested WG website.

However, I don't expect us to be done with that project until the end of Q1 2021 since our primary focus is not this work but the re-design of jakarta.ee.

In the meanwhile, how about we re-add the blog widget in the side

[2021-11-22 15:28] linkfang commented on #189
Hi @ZahraFazli , please preview the change here:
https://deploy-preview-190--eclipsefdn-ecdtools.netlify.app/membership/

[2021-11-22 16:50] chrisguindon opened #191 "Resources landing page is not useful"
The current landing page for resources, which is current accessible via breadcrumbs is not very useful:
https://ecdtools.eclipse.org/resources/

I was expecting a page similar to [iot.eclipse.org/](https://iot.eclipse.org/community/resources/) which is an overview of all the different resources.

[2021-11-22 17:59] chrisguindon opened #192 "Truncate event summary on news landing page"
We currently have 1 event on our News page and the description is very long.

We should be truncating the text to a reasonable limit

![Screenshot 2021-11-22 125903](https://user-images.githubusercontent.com/893942/142911767-b8180b5d-cc77-4ca4-9c8b-f63f3bf2be48.png)
.

[2021-11-22 18:08] chrisguindon commented on #160
I have a PR to address my previous comment:
https://deploy-preview-193--eclipsefdn-ecdtools.netlify.app/resources/blogs/

I added a sidebar on all the blogs pages. I also added some instructions on how people can add their post on that list:

[2021-11-22 18:10] chrisguindon commented on #157
Custom search page:
https://deploy-preview-193--eclipsefdn-ecdtools.netlify.app/search/?q=openvsx

[2021-11-22 19:13] JonasHelming commented on #160
Thank you for working on this. I have the following feedback:

1. The list should be on the front page, not on the blog sub page. It is kind of a news&noteworthy from ecdt tools, so we should not hide it.
2. The ECDTools blog must be aggregated on the planet (I already reported this to Brian) so that the posts on this blog also appear in the aggregated list.

I am then fine with this solution eve

[2021-11-22 19:21] brianking commented on #157
LGTM. Pity about the ad!

[2021-11-22 19:23] brianking commented on #189
LGTM!

[2021-11-22 19:29] chrisguindon commented on #160
This is only a temporary solution.  We are working with the Jakarta EE WG committee in order to implement a solution that will allow us to include posts from planeteclipse.org, or in their situation, jakartablogs.ee with blogs written on the Hugo site.

We are basically looking into a way that would allow us combine posts from the blog aggregator and the working group website.

ECDTools blog is ag

[2021-11-22 19:50] JonasHelming commented on #160
Ok, that sound good. What I do not really get is how the solution you describe is different from the current one. With "the current" one, I am referring to the widget you have added to the blog page. If the ECDTools blog is aggregated on the planet, it will be in this list, so you have achieved have goal, haven't we? So my suggestion is simply to move what you have done to the front page and make

[2021-11-22 20:00] chrisguindon commented on #160
The "new solution" ( I am referring to the solution we agree to try and implement) in the jakarta.ee issue:

The current plan would be to create a GH action that will fetch blog posts from the RSS feed of planeteclipse.org|jakartablogs.ee and create a PR to allow us to store posts as static markdown file on the WG website.

This solution is based on the work done by @cesarhernandezgt (https://gith

[2021-11-22 20:07] chrisguindon commented on #160
The RSS feed that we are using on planeteclipse.org is https://ecdtools.eclipse.org/resources/blogs/index.xml

You are right, the embed blog post is missing in the XML that we use on planeteclipse.org. I will take a closer look to figure out why it's not in the list.

[2021-11-22 20:19] chrisguindon commented on #160
I took a closer look at the blog section and the problem is easy to fix. The blog post was created as a new section instead of a new post: https://github.com/EclipseFdn/ecdtools.eclipse.org/pull/184/files#diff-9cba116e20b9af45e4455f01884399bfa2eb9467c56e7239191c7e0693eda7a0

_index.md => new section vs index.md => new single post

I will rename the file and I will expect the post to appear on plan

[2021-11-22 20:41] chrisguindon commented on #160
The "Moving Embedded Software Development Tools into the Cloud" post is now listed in the XML. I don't remember how often we update planeteclipse.org but I would expect the post to be included on the site in the next hour or so.

[2021-11-22 20:43] chrisguindon commented on #160
@JonasHelming Are you good with us merging my PR for now?

If so, I would recommend that we create a new issue to track the effort needed to combine posts from both the WG website and planeteclipse.org.

[2021-11-22 20:53] JonasHelming commented on #160
"As you know, blog posts from planeteclipse.org get dropped off after a certain time. With their solution, we hope to be able to keep posts on our websites long after they disappeared from the blog aggregator."

This comment made me dig into this. If you look at the rss feed, you actually get posts over a year back. However, I always had the feeling that _some_  posts disappeared from the planet.

[2021-11-22 20:58] JonasHelming commented on #160
Yes, you totally did.

I am actually sorry for my first comment. It looked to me that you are creating a totally different solution at JakartaEE now and without knowing about the details that you provided in the follow up comments, that did not feel right to me.

However, as stated in my comment just above this. I am happy with the solution you did, no further improvements need except moving it to

[2021-11-22 21:06] chrisguindon commented on #160
I was not aware of this limit of 2 per author. Perhaps, you are referring to the new_feed_item option?
https://github.com/EclipseFdn/planeteclipse.org/blob/master/planet/planet.ini#L25

We also have a limit of 80 per page. However, the current template does not have any pagination.

I don't believe that the cache folder is persistent. If we ever need to re-create the blog post cache and a website

[2021-11-22 21:20] JonasHelming commented on #160
Yes, I forgot to post the link in my last comment, added it 3 minutes later :-)

Totally acceptable, if not even wanted. If someone takes some content offline, we do not want to cache it.

Yes, exactly.

Is the "home page blog section" under "what's new"?

sounds good!

[2021-11-22 21:24] chrisguindon commented on #160
Yes, from simply looking at the home page I can see that we are simply showing 1 news item, 1 video, 1 blog, and 1 event. We can update the blog section to display the latest post from https://planeteclipse.org/planet/ecdtools.xml instead of pulling them from the website blog section which is limited to: https://github.com/EclipseFdn/ecdtools.eclipse.org/tree/master/content/resources/blogs

@brian

[2021-11-22 21:29] JonasHelming commented on #160
OK, makes sense. If possible, display the last 2 or 3 posts in this section.

I created a PR for the planet adapions: https://github.com/EclipseFdn/planeteclipse.org/pull/38

[2021-11-22 21:30] chrisguindon commented on #160
The content might still be online but it will not be included if it's post number 81 since 80 is the limit. We would need to be able to paginate the RSS feed which I don't think is possible.

I believe the limit is not on https://planeteclipse.org/planet/ecdtools.xml but on https://planeteclipse.org/planet/

The https://planeteclipse.org/planet/ecdtools.xml is simply a "sub-list" of what we have o

[2021-11-22 21:37] chrisguindon commented on #160
People can click on the View All blog posts to see more posts.

With this said, changing how we display blog posts on the homepage is not something I want to fix with this issue.  I am sure the team responsible for the re-design has opinions about this. If you feel strongly about it, please create a separate issue to discuss that.

However, with this bug I prefer we focus on how we are pulling in

[2021-11-22 21:41] JonasHelming commented on #160
OK that reveals one issue then: ECDTools blogs wont be visible anywhere when they are older and flow out of the planet. To solve this I suggest to:

- Leave the current blog page as is (including the sidebar). Change the link to "ECDT Blog"
- Remove the instruction on how to be added from the sidebar widget
- Create a new page that is aggregated as you described. Same template but without the side

[2021-11-22 21:41] JonasHelming commented on #160
Sounds good to me

[2021-11-22 21:47] chrisguindon commented on #160
@JonasHelming I am not sure I understand. I have questions:

Are you referring to the main menu link? So change Blogs to ECDT Blog?

What is this community blog page?

Are you referring to the work that we are planning to do in Q1 2022 with jakarta.ee? If so, we need to agree on a temporary solution since that work has not been completed yet.

[2021-11-22 22:32] chrisguindon commented on #160
@JonasHelming and I just jumped on a call to discuss this. Here's what we are proposing:

1.  tag all of @brianking posts with ECDTOOLS to have them included in https://planeteclipse.org/planet/ecdtools.xml
2. Update the homepage in order to display the latest post from https://planeteclipse.org/planet/ecdtools.xml  which should now also include posts from @brianking
3. Update https://ecdtools.ecl

[2021-11-23 09:23] JonasHelming opened #194 "Adapt Jonas testimonial"
I want to adapt my testimonial.

[2021-11-23 13:32] #189 closed

[2021-11-23 13:37] #194 closed

[2021-11-23 14:20] chrisguindon commented on #160
@JonasHelming Last night I thought of another solution. I think this new solution could meet both the requirements of ecdtools and jakarta.ee.

We currently have 2 RSS feed:

- https://ecdtools.eclipse.org/resources/blogs/index.xml
- https://planeteclipse.org/planet/ecdtools.xml

For both the home page and the list of blogs page (https://ecdtools.eclipse.org/resources/blogs/), we could fetch both

[2021-11-23 14:23] JonasHelming commented on #160
The advantage of this would be that ECDT Blogs never disappear from the list, right?
If that is the motivation, i agree it seems like a very good solution. However, I would still make sure to aggregate the ECDT blog on the planet. However, you might then not mark the posts with ECDTools, so that they are not in the filtered feed.

[2021-11-23 14:38] chrisguindon commented on #160
Exactly, if we do this, we will not want/need to tag all of @brianking posts. I believe that the ECDT blogs will never disappear since Hugo is configured by default to display an unlimited number of RSS entries: https://gohugo.io/templates/rss/#configure-rss

[2021-11-23 14:40] JonasHelming commented on #160
OK, I like it!

[2021-11-23 19:01] jph152 opened #196 "Remove Cloud Tool Time featured story from carousel"
Please remove the second item (Cloud Tool Time) from the ecdtools.eclipse.org homepage carousel, as the event has passed.

[2021-11-23 19:33] ericpoirier commented on #196
@linkfang the featured story items for ecdtools are temporarily being stored in a data file.

[2021-11-23 20:06] ericpoirier opened #197 "Export featured story carousel functionality to Hugo theme"
I created the following issue in the hugo theme repo to export the multiple featured story items functionality over there.
https://gitlab.eclipse.org/eclipsefdn/it/webdev/hugo-solstice-theme/-/issues/240

Creating this issue to make sure we are using the same code here as well.

[2021-11-23 20:07] ericpoirier commented on #196
I will be merging the following PR shortly which will update how the carousel works entirely.

The featured stories will be maintained in newsroom.eclipse.org after I merge the PR.

[2021-11-23 20:17] jph152 commented on #196
@ericpoirier Great news. Thanks for the update

[2021-11-23 21:04] chrisguindon commented on #197
Some of the coding issues were documented as feedback on this PR: https://github.com/EclipseFdn/ecdtools.eclipse.org/pull/188

[2021-11-24 14:13] chrisguindon commented on #157
We would need to pay to remove the ads:
https://developers.google.com/custom-search/docs/paid_element

[2021-11-25 14:29] #192 closed

[2021-11-25 18:18] ericpoirier commented on #196
I merged my PR this morning to start using newsroom for the featured stories on ECDtools website. I see that the Cloud Tool Time item is no longer in the featured story section.

Now closing.

[2021-11-25 18:18] #196 closed

[2021-12-02 16:36] ericpoirier commented on #148
@brianking can you have a look at the following staging page.

https://deploy-preview-180--eclipsefdn-ecdtools.netlify.app/adopters/

Thanks.

[2021-12-02 16:40] ericpoirier commented on #139
@brianking can you review the Projects page on staging.

https://deploy-preview-183--eclipsefdn-ecdtools.netlify.app/projects/

I'm adding a filter for the projects.

Thanks.

[2021-12-02 17:16] brianking commented on #148
In general it looks and works great. My only comment is that the logos look a bit too big.

What do you think @croundy ?

[2021-12-02 17:24] croundy commented on #148
I actually like it a lot. On the most part it appears that the links go to the actual company project that has adopted the particular Eclipse project. Correct? I think that is the right approach. I would prefer that we don't send visitors away from our site, however. Can we make it so those links open up a new window?

[2021-12-02 17:36] brianking commented on #139
I don't see the drop-down to the right of the textbox. What else was envisioned to be in that apart from Project Names? Categories?

Also, I believe the category names need to be revised. Remind me, where are they pulled from?

[2021-12-02 18:16] ericpoirier commented on #139
@brianking the category list is hard coded in our JS code.

https://github.com/EclipseFdn/ecdtools.eclipse.org/blob/843f224991ad8d1eb93c6de7474953af8200acf6/js/src/projects.js#L219

I didn't include the top right dropdown because we're getting short on time but aside from filtering by name, is there another way we would like to filter?

[2021-12-02 18:32] ericpoirier commented on #148
@croundy @brianking I updated the links so that they open a new window and also fiddled a bit with the size of the logos. Let me know if that works. Other then that, as you're saying, I would suggest updating the logos themselves.

https://deploy-preview-180--eclipsefdn-ecdtools.netlify.app/adopters/

Let me know if there's anything else.

Thanks.

[2021-12-02 19:03] croundy commented on #148
LGTM! Thanks @ericpoirier!

[2021-12-02 20:09] brianking commented on #148
Good to go.

[2021-12-02 20:11] ericpoirier commented on #148
Thanks, I'll have the guys review my PR and merge it after!

[2021-12-02 20:11] brianking commented on #139
Only categories, and because they can be selected to filter I think it's ok to leave out the dropdown for now. The list of projects is not huge and we can revisit as needed.

As for the category names, I'll come back separately with a proposal on what thay should be. Best to open a new issue?

[2021-12-02 20:14] ericpoirier commented on #139
Sounds good with me.

Yes I would open a new issue for that and tackle the redesign only with this current issue.

[2021-12-03 14:09] ericpoirier commented on #139
@brianking Can we merge the work that was done for this page?

https://deploy-preview-183--eclipsefdn-ecdtools.netlify.app/projects/

Thanks.

[2021-12-03 15:20] autumnfound opened #199 "Upgrade adopters in solstice-assets and remove duplicated code"
Making this as a tech debt item for the new year as we're crunched on time. We should look at upgrading the base to allow for data-mustache-id to make use of templates optionally but preserve current functionality otherwise. In terms of custom implementations for sidebar, we should consider using the class available on the window to reduce code duplication.

[2021-12-03 15:34] #148 closed

[2021-12-03 15:41] brianking commented on #199
Note that our adopters page has changed design very recently and has different layout and functionality of other WGs.

[2021-12-03 15:45] brianking commented on #139
Yes, but I am not sure why Tools for Cloud Foundry and Orion are at the end because it breaks alphabetical order.